Repository uiowa/uiowa, pull requests merged in 2019-10, with the labels that each got.

#619 Brand - update filter label, adjust styles
  config/brand.uiowa.edu/views.view.lockups.yml
  docroot/themes/custom/uiowa_bootstrap/scss/partials/02_elements/_table.scss
Labels: brand.uiowa.edu

#633 update email signatures
  config/sitenow.uiowa.edu/webform.webform.request_a_site.yml
Labels: sitenow.uiowa.edu

#575 I564
  docroot/profiles/custom/sitenow/content/paragraph/1763c09d-891e-48b0-a8c9-15df74023ed5.json
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: blocked

#642 Brand #615 Round A
  docroot/sites/brand.uiowa.edu/modules/brand_core/src/Controller/LockupController.php
Labels: brand.uiowa.edu
