Repository uiowa/uiowa, pull requests merged in 2020-05, with the labels that each got.

#1502 Feature: Provision iwp.uiowa.edu and ISRP updates
  box/config.yml
  config/iowasuperfund.uiowa.edu/config_split.config_split.iowasuperfund_uiowa_edu.yml
  config/iowasuperfund.uiowa.edu/core.base_field_override.node.publication.promote.yml
  config/iowasuperfund.uiowa.edu/core.base_field_override.node.research_project.promote.yml
  config/iowasuperfund.uiowa.edu/core.base_field_override.node.support_core.promote.yml
  config/iowasuperfund.uiowa.edu/core.base_field_override.node.support_core.title.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.publication.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.research_project.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.support_core.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.publication.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.publication.teaser.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.research_project.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.research_project.teaser.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.support_core.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.support_core.teaser.yml
  config/iowasuperfund.uiowa.edu/field.field.node.publication.field_publication_date.yml
  config/iowasuperfund.uiowa.edu/field.field.node.publication.field_publication_name.yml
  config/iowasuperfund.uiowa.edu/field.field.node.publication.field_publication_project_core.yml
  config/iowasuperfund.uiowa.edu/field.field.node.publication.field_publication_source_link.yml
  config/iowasuperfund.uiowa.edu/field.field.node.research_project.body.yml
  config/iowasuperfund.uiowa.edu/field.field.node.support_core.body.yml
  config/iowasuperfund.uiowa.edu/field.storage.node.field_publication_date.yml
  config/iowasuperfund.uiowa.edu/field.storage.node.field_publication_name.yml
  config/iowasuperfund.uiowa.edu/field.storage.node.field_publication_project_core.yml
  config/iowasuperfund.uiowa.edu/field.storage.node.field_publication_source_link.yml
  config/iowasuperfund.uiowa.edu/node.type.publication.yml
  config/iowasuperfund.uiowa.edu/node.type.research_project.yml
  config/iowasuperfund.uiowa.edu/node.type.support_core.yml
  config/iowasuperfund.uiowa.edu/simple_sitemap.bundle_settings.default.node.research_project.yml
  config/iowasuperfund.uiowa.edu/simple_sitemap.bundle_settings.default.node.support_core.yml
  config/iwp.uiowa.edu/.gitkeep
  docroot/sites/iwp.uiowa.edu/blt.yml
  docroot/sites/iwp.uiowa.edu/default.local.drush.yml
  docroot/sites/iwp.uiowa.edu/default.settings.php
  docroot/sites/iwp.uiowa.edu/settings.php
  docroot/sites/iwp.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/iwp.uiowa.edu/settings/default.local.settings.php
  docroot/sites/iwp.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/iwp.site.yml
Labels: grad college, provision, site split

#1505 Updated icsa-temp config split with content type and views.
  config/icsa.uiowa.edu/config_split.config_split.icsa_uiowa_edu.yml
  config/icsa.uiowa.edu/core.base_field_override.node.project.promote.yml
  config/icsa.uiowa.edu/core.date_format.medium_date.yml
  config/icsa.uiowa.edu/core.entity_form_display.node.project.default.yml
  config/icsa.uiowa.edu/core.entity_view_display.node.project.default.yml
  config/icsa.uiowa.edu/core.entity_view_display.node.project.teaser.yml
  config/icsa.uiowa.edu/field.field.node.project.body.yml
  config/icsa.uiowa.edu/field.field.node.project.field_project_category.yml
  config/icsa.uiowa.edu/field.field.node.project.field_project_date.yml
  config/icsa.uiowa.edu/field.field.node.project.field_project_finished.yml
  config/icsa.uiowa.edu/field.field.node.project.field_project_reports.yml
  config/icsa.uiowa.edu/field.storage.node.field_project_category.yml
  config/icsa.uiowa.edu/field.storage.node.field_project_date.yml
  config/icsa.uiowa.edu/field.storage.node.field_project_finished.yml
  config/icsa.uiowa.edu/field.storage.node.field_project_reports.yml
  config/icsa.uiowa.edu/node.type.project.yml
  config/icsa.uiowa.edu/system.menu.about.yml
  config/icsa.uiowa.edu/system.menu.projects.yml
  config/icsa.uiowa.edu/system.menu.reports.yml
  config/icsa.uiowa.edu/system.menu.resources.yml
  config/icsa.uiowa.edu/system.menu.services.yml
  config/icsa.uiowa.edu/views.view.projects.yml
  config/icsa.uiowa.edu/views.view.reports.yml
Labels: site split, uiowa01

#1544 Updated icsa.uiowa.edu views with minor changes.
  config/icsa.uiowa.edu/config_split.config_split.icsa_uiowa_edu.yml
  config/icsa.uiowa.edu/views.view.projects.yml
  config/icsa.uiowa.edu/views.view.reports.yml
Labels: site split, uiowa01

#1548 adding the attributes to the accordion and putting the card in the at…
  docroot/themes/custom/uids_base/templates/paragraphs/accordion/paragraph--accordion-item--default.html.twig
  docroot/themes/custom/uiowa_bootstrap/templates/paragraphs/accordion/paragraph--accordion-item--default.html.twig
Labels: a11y, bug, sitenow profile

#1558 Fix linkit button styles after class change
  docroot/modules/custom/sitenow_media_wysiwyg/js/button_style.js
Labels: bug

#1574 hotfix for title overlay image card
  docroot/sites/hr.uiowa.edu/themes/hr/templates/paragraphs/paragraph--card--title-overlay.html.twig
Labels: bug, hr.uiowa.edu

#1579 hotfix move old card logic local to hr icon card
  docroot/sites/hr.uiowa.edu/modules/hr_core/hr_core.module
  docroot/sites/hr.uiowa.edu/themes/hr/hr.theme
  docroot/sites/hr.uiowa.edu/themes/hr/templates/paragraphs/paragraph--card--icon.html.twig
Labels: bug, hr.uiowa.edu

#1583 uiowa alerts - swap role "alert" for "region" on custom alert
  docroot/modules/custom/uiowa_alerts/src/Plugin/Block/AlertsBlock.php
Labels: a11y

#1567 Accessible button labels for uiowa.edu vertical videos
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-vertical-video.html.twig
  yarn.lock
Labels: a11y, blocked, uiowa.edu

#1593 Updated policy.clas.uiowa.edu site split and custom styles.
  config/policy.clas.uiowa.edu/config_split.config_split.policy_clas_uiowa_edu.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.article.default.yml
  config/policy.clas.uiowa.edu/views.view.book_a_z_list.yml
  config/policy.clas.uiowa.edu/views.view.book_search.yml
  config/policy.clas.uiowa.edu/views.view.book_toc.yml
  config/policy.clas.uiowa.edu/views.view.book_whats_new.yml
  docroot/modules/custom/uiowa_book/css/uiowa_book.css
  docroot/themes/custom/uids_base/scss/global.scss
Labels: site split, theming, uids_base

#1594 Delete policy-temp.clas.uiowa.edu multisite on uiowa01
  box/config.yml
  config/policy-temp.clas.uiowa.edu/.gitkeep
  docroot/sites/policy-temp.clas.uiowa.edu/blt.yml
  docroot/sites/policy-temp.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/policy-temp.clas.uiowa.edu/default.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/claspolicy-temp.site.yml
Labels: deprovision

#1446 SiteNow Blockquote for UIDS_Base
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--blockquote--default.html.twig
  docroot/themes/custom/uids_base/templates/uids/blockquote.html.twig
Labels: WIP

#1589 Simplify env splits and prevent indexing of all drupal.uiowa.edu domains.
  config/envs/dev/purge.logger_channels.yml
  config/envs/dev/robotstxt.settings.yml
  config/envs/prod/google_analytics.settings.yml
  config/envs/prod/purge.logger_channels.yml
  config/envs/stage/purge.logger_channels.yml
  config/envs/stage/robotstxt.settings.yml
  config/uiowa.edu/uiowa_alerts.settings.yml
  docroot/profiles/custom/sitenow/config/sync/acquia_connector.settings.yml
  docroot/profiles/custom/sitenow/config/sync/config_ignore.settings.yml
  docroot/profiles/custom/sitenow/config/sync/config_split.config_split.dev.yml
  docroot/profiles/custom/sitenow/config/sync/config_split.config_split.prod.yml
  docroot/profiles/custom/sitenow/config/sync/config_split.config_split.stage.yml
  docroot/profiles/custom/sitenow/config/sync/core.extension.yml
  docroot/profiles/custom/sitenow/config/sync/robotstxt.settings.yml
  docroot/profiles/custom/sitenow/sitenow.services.yml
  docroot/profiles/custom/sitenow/src/ConfigOverride/RobotstxtOverride.php
  docroot/profiles/custom/sitenow/tests/Unit/AcquiaConnectorOverrideTest.php
  docroot/profiles/custom/sitenow/tests/Unit/RobotstxtOverrideTest.php
  docroot/profiles/custom/sitenow/tests/Unit/SimpleSitemapOverrideTest.php
Labels: automation, needs review

#1632 Provision afamstudies, amstudies, and naistudies CLAS sites.
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/MultisiteCommands.php
  box/config.yml
  config/africanamericanstudies.uiowa.edu/.gitkeep
  config/americanstudies.uiowa.edu/.gitkeep
  config/nativeamericanstudies.uiowa.edu/.gitkeep
  docroot/sites/africanamericanstudies.uiowa.edu/blt.yml
  docroot/sites/africanamericanstudies.uiowa.edu/default.local.drush.yml
  docroot/sites/africanamericanstudies.uiowa.edu/default.settings.php
  docroot/sites/africanamericanstudies.uiowa.edu/settings.php
  docroot/sites/africanamericanstudies.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/africanamericanstudies.uiowa.edu/settings/default.local.settings.php
  docroot/sites/americanstudies.uiowa.edu/blt.yml
  docroot/sites/americanstudies.uiowa.edu/default.local.drush.yml
  docroot/sites/americanstudies.uiowa.edu/default.settings.php
  docroot/sites/americanstudies.uiowa.edu/settings.php
  docroot/sites/americanstudies.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/americanstudies.uiowa.edu/settings/default.local.settings.php
  docroot/sites/nativeamericanstudies.uiowa.edu/blt.yml
  docroot/sites/nativeamericanstudies.uiowa.edu/default.local.drush.yml
  docroot/sites/nativeamericanstudies.uiowa.edu/default.settings.php
  docroot/sites/nativeamericanstudies.uiowa.edu/settings.php
  docroot/sites/nativeamericanstudies.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/nativeamericanstudies.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/africanamericanstudies.site.yml
  drush/sites/americanstudies.site.yml
  drush/sites/nativeamericanstudies.site.yml
Labels: provision, uiowa01

#1639 Enable site_splits for afam, amstud, nais, and anthropology sites
  config/africanamericanstudies.uiowa.edu/.htaccess
  config/africanamericanstudies.uiowa.edu/config_split.config_split.africanamericanstudies_uiowa_edu.yml
  config/americanstudies.uiowa.edu/.htaccess
  config/americanstudies.uiowa.edu/config_split.config_split.americanstudies_uiowa_edu.yml
  config/anthropology.uiowa.edu/.htaccess
  config/anthropology.uiowa.edu/config_split.config_split.anthropology_uiowa_edu.yml
  config/nativeamericanstudies.uiowa.edu/.htaccess
  config/nativeamericanstudies.uiowa.edu/config_split.config_split.nativeamericanstudies_uiowa_edu.yml
Labels: clas, site split, uiowa01

#1635 Update card template for linking with no title or link text
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/card.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--teaser.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/card/paragraph--card--default.html.twig
  docroot/themes/custom/uids_base/templates/uids/card.html.twig
  docroot/themes/custom/uids_base/uids_base.info.yml
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  yarn.lock
Labels: theming, uids_base

#1644 update core and dependencies to 8.8.6
  composer.lock
Labels: composer update, database updates

#1643 brand.uiowa.edu - update footer permissions
  config/brand.uiowa.edu/user.role.webmaster.yml
Labels: brand.uiowa.edu

#1641 uiowa.edu - Change search to list for a-z
  config/uiowa.edu/views.view.a_z_list.yml
  docroot/sites/uiowa.edu/modules/uiowa_edu_core/uiowa_edu_core.module
Labels: a11y, uiowa.edu

#1597 Feature: brand site adjustments
  docroot/modules/custom/sitenow_paragraphs/sitenow_paragraphs.module
  docroot/sites/brand.uiowa.edu/modules/brand_core/css/lockup-preview.css
  docroot/sites/brand.uiowa.edu/modules/brand_core/templates/form--lockup.html.twig
  docroot/sites/hr.uiowa.edu/themes/hr/scss/components/paragraphs/_paragraph-type-section.scss
  docroot/themes/custom/uids_base/scss/components/elements/headings/headings.scss
  docroot/themes/custom/uids_base/scss/components/elements/paragraph/paragraph.scss
  docroot/themes/custom/uids_base/scss/components/global/search-toggle/search-toggle.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/media/embedded-entity.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-events_paragraph.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-paragraphs_text.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/sitenow.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/views.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/layouts/threecol/threecol.css
  docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--section--default.html.twig
  docroot/themes/custom/uiowa_bootstrap/scss/_variables.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/02_elements/_alert.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/fields/_field--name-field-uip-title.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_featured-content.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa-articles.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa-events_paragraph.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa-paragraphs-webform.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa-paragraphs_text.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa_paragraphs.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/regions/_footer.scss
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/views/_views.scss
Labels: WIP

#1657 update homepage schema logo
  config/uiowa.edu/metatag.metatag_defaults.front.yml
Labels: uiowa.edu

#1659 image meta tweak for homepage front split
  config/uiowa.edu/metatag.metatag_defaults.front.yml
Labels: uiowa.edu

#1666 Feature: uids_base last minute style updates
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/global/header/header.scss
  docroot/themes/custom/uids_base/scss/components/global/search-toggle/search-toggle.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/layouts/fourcol/fourcol.css
  yarn.lock
Labels: WIP

#1673 Go-live uiowa/uiowa01 wordmark updates
  composer.lock
  docroot/sites/brand.uiowa.edu/modules/brand_core/images/iowa.svg
Labels: composer update

#1705 Initialize writinguniversity.org multisite on uiowa01
  box/config.yml
  config/writinguniversity.org/.gitkeep
  docroot/sites/sites.php
  docroot/sites/writinguniversity.org/blt.yml
  docroot/sites/writinguniversity.org/default.local.drush.yml
  docroot/sites/writinguniversity.org/default.settings.php
  docroot/sites/writinguniversity.org/settings.php
  docroot/sites/writinguniversity.org/settings/default.includes.settings.php
  docroot/sites/writinguniversity.org/settings/default.local.settings.php
  drush/sites/org-writinguniversity.site.yml
Labels: provision
