Repository uiowa/uiowa, pull requests merged in 2020-12, with the labels that each got.

#2625 Remove twig_tweak module
  composer.json
  composer.lock
Labels: dependencies

#2465 Create base area of study content type.
  config/default/config_ignore.settings.yml
  config/default/config_split.config_split.areas_of_study.yml
  config/features/areas_of_study/.htaccess
  config/features/areas_of_study/block_content.type.area_of_study_search.yml
  config/features/areas_of_study/core.base_field_override.node.area_of_study.promote.yml
  config/features/areas_of_study/core.entity_form_display.block_content.area_of_study_search.default.yml
  config/features/areas_of_study/core.entity_form_display.node.area_of_study.default.yml
  config/features/areas_of_study/core.entity_form_display.paragraph.degree.default.yml
  config/features/areas_of_study/core.entity_view_display.block_content.area_of_study_search.default.yml
  config/features/areas_of_study/core.entity_view_display.node.area_of_study.default.yml
  config/features/areas_of_study/core.entity_view_display.node.area_of_study.teaser.yml
  config/features/areas_of_study/core.entity_view_display.paragraph.degree.default.yml
  config/features/areas_of_study/field.field.node.area_of_study.body.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_area_of_study_certificates.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_area_of_study_majors.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_area_of_study_minors.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_area_of_study_online.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_area_of_study_preprof.yml
  config/features/areas_of_study/field.field.node.area_of_study.field_image.yml
  config/features/areas_of_study/field.field.paragraph.degree.field_degree_abbreviation.yml
  config/features/areas_of_study/field.field.paragraph.degree.field_degree_label.yml
  config/features/areas_of_study/field.storage.node.field_area_of_study_certificates.yml
  config/features/areas_of_study/field.storage.node.field_area_of_study_majors.yml
  config/features/areas_of_study/field.storage.node.field_area_of_study_minors.yml
  config/features/areas_of_study/field.storage.node.field_area_of_study_online.yml
  config/features/areas_of_study/field.storage.node.field_area_of_study_preprof.yml
  config/features/areas_of_study/field.storage.paragraph.field_degree_abbreviation.yml
  config/features/areas_of_study/field.storage.paragraph.field_degree_label.yml
  config/features/areas_of_study/node.type.area_of_study.yml
  config/features/areas_of_study/paragraphs.paragraphs_type.degree.yml
  config/features/areas_of_study/pathauto.pattern.areas_of_study.yml
  config/features/areas_of_study/user.role.editor.yml
  config/features/areas_of_study/user.role.publisher.yml
  config/features/areas_of_study/user.role.viewer.yml
  config/features/areas_of_study/user.role.webmaster.yml
  config/features/areas_of_study/views.view.areas_of_study.yml
  docroot/modules/custom/sitenow_people/sitenow_people.module
  docroot/modules/custom/uiowa_aggregator/uiowa_aggregator.info.yml
  docroot/modules/custom/uiowa_area_of_study/uiowa_area_of_study.info.yml
  docroot/modules/custom/uiowa_area_of_study/uiowa_area_of_study.module
  docroot/profiles/custom/sitenow/sitenow.profile
  docroot/themes/custom/uids_base/scss/content/node--type--area-of-study.scss
  docroot/themes/custom/uids_base/templates/content/node--area-of-study--full.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--title--area-of-study--default.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: config update, feature split

#2562 Config entity types
  config/default/core.extension.yml
  config/default/uiowa_entities.academic_unit.carver_college_of_medicine.yml
  config/default/uiowa_entities.academic_unit.college_of_dentistry.yml
  config/default/uiowa_entities.academic_unit.college_of_education.yml
  config/default/uiowa_entities.academic_unit.college_of_engineering.yml
  config/default/uiowa_entities.academic_unit.college_of_law.yml
  config/default/uiowa_entities.academic_unit.college_of_liberal_arts_sciences.yml
  config/default/uiowa_entities.academic_unit.college_of_nursing.yml
  config/default/uiowa_entities.academic_unit.college_of_pharmacy.yml
  config/default/uiowa_entities.academic_unit.college_of_public_health.yml
  config/default/uiowa_entities.academic_unit.distance_and_online_education.yml
  config/default/uiowa_entities.academic_unit.graduate_college.yml
  config/default/uiowa_entities.academic_unit.institute_for_clinical_and_translational_science.yml
  config/default/uiowa_entities.academic_unit.international_programs.yml
  config/default/uiowa_entities.academic_unit.museum_of_art.yml
  config/default/uiowa_entities.academic_unit.tippie_college_of_business.yml
  config/default/uiowa_entities.academic_unit.university_college.yml
  config/default/uiowa_entities.academic_unit.university_libraries.yml
  docroot/modules/custom/uiowa_entities/config/schema/uiowa_entities.schema.yml
  docroot/modules/custom/uiowa_entities/src/AcademicUnitInterface.php
  docroot/modules/custom/uiowa_entities/src/AcademicUnitListBuilder.php
  docroot/modules/custom/uiowa_entities/src/Entity/AcademicUnit.php
  docroot/modules/custom/uiowa_entities/src/Form/AcademicUnitForm.php
  docroot/modules/custom/uiowa_entities/src/Form/SettingsForm.php
  docroot/modules/custom/uiowa_entities/src/Plugin/Field/FieldFormatter/AcademicUnitsFormatter.php
  docroot/modules/custom/uiowa_entities/src/Plugin/Field/FieldType/AcademicUnits.php
  docroot/modules/custom/uiowa_entities/src/Plugin/Field/FieldWidget/AcademicUnitsWidget.php
  docroot/modules/custom/uiowa_entities/uiowa_entities.info.yml
  docroot/modules/custom/uiowa_entities/uiowa_entities.install
  docroot/modules/custom/uiowa_entities/uiowa_entities.links.action.yml
  docroot/modules/custom/uiowa_entities/uiowa_entities.links.menu.yml
  docroot/modules/custom/uiowa_entities/uiowa_entities.module
  docroot/modules/custom/uiowa_entities/uiowa_entities.permissions.yml
  docroot/modules/custom/uiowa_entities/uiowa_entities.routing.yml
Labels: enhancement

#2643 Academic Units: require at least one entity type
  docroot/modules/custom/uiowa_entities/src/Plugin/Field/FieldWidget/AcademicUnitsWidget.php
Labels: enhancement

#2663 hotfix for youtube oembed issue
  composer.json
  composer.lock
Labels: bug

#2538 Feature: Top links menu and character count limit for inline header
  config/default/uids_base.settings.yml
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/config/install/uids_base.settings.yml
  docroot/themes/custom/uids_base/scss/components/menus/off-canvas.scss
  docroot/themes/custom/uids_base/scss/components/menus/top.scss
  docroot/themes/custom/uids_base/scss/components/search-toggle.scss
  docroot/themes/custom/uids_base/scss/components/site-name.scss
  docroot/themes/custom/uids_base/scss/components/site-slogan.scss
  docroot/themes/custom/uids_base/templates/layout/header--below.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--inline.html.twig
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
  docroot/themes/custom/uids_base/theme-settings.php
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: sprint-44, uids_base

#2545 Add video functionality to banner block
  box/config.yml
  composer.json
  composer.lock
  config/default/core.entity_form_display.block_content.uiowa_banner.default.yml
  config/default/core.entity_view_display.block_content.uiowa_banner.default.yml
  config/default/core.entity_view_display.media.video.default.yml
  config/default/core.extension.yml
  config/default/field.field.block_content.uiowa_banner.field_uiowa_banner_autoplay.yml
  config/default/field.field.block_content.uiowa_banner.field_uiowa_banner_image.yml
  config/default/field.storage.block_content.field_uiowa_banner_autoplay.yml
  config/default/media_thumbnails.settings.yml
  config/default/media_thumbnails_video.settings.yml
  docroot/modules/custom/layout_builder_custom/js/banner-block-form.js
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.libraries.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/themes/custom/uids_base/assets/js/video-cookie.js
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/banner.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-banner.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/content/media--remote-video.html.twig
  docroot/themes/custom/uids_base/templates/field/field--media--field-media-video-file.html.twig
  docroot/themes/custom/uids_base/templates/field/file-video.html.twig
  docroot/themes/custom/uids_base/templates/uids/hero.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: config update, dependencies, layout builder, sprint-44

#2684 Hotfix: Remove required property from mentor fields and other updates
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_dept.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_qualif.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_ug_role.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_project_desc.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_research_assistants.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_research_desc.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_research_project.yml
  config/grad.uiowa.edu/field.field.node.person.field_uiowa_college.yml
  config/grad.uiowa.edu/field.storage.node.field_person_mentor_dept.yml
  config/grad.uiowa.edu/field.storage.node.field_person_mentor_qualif.yml
  config/grad.uiowa.edu/field.storage.node.field_person_mentor_ug_role.yml
  config/grad.uiowa.edu/field.storage.node.field_person_research_assistants.yml
  config/grad.uiowa.edu/field.storage.node.field_person_research_desc.yml
  config/grad.uiowa.edu/field.storage.node.field_person_research_project.yml
  config/grad.uiowa.edu/field.storage.node.field_uiowa_college.yml
  config/grad.uiowa.edu/sitenow_people.person_type.mentor.yml
Labels: bug, grad.uiowa.edu, site split

#2683 Hotfixes for aggregator style options
  docroot/modules/custom/uiowa_aggregator/uiowa_aggregator.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/uids_base.theme
Labels: bug

#2675 <small> allowed in filtered_html
  config/default/filter.format.filtered_html.yml
  config/features/sitenow_v2/filter.format.filtered_html.yml
Labels: gone-rogue

#2601 Started updating one--col--background layout template
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/banner.scss
  docroot/themes/custom/uids_base/scss/layouts/onecol--background.scss
  docroot/themes/custom/uids_base/scss/layouts/page--left-sidebar.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/templates/layouts/onecol--background/layout--onecol--background.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: sprint-44, theming, uids_base

#2682 Update Node, Composer and document Yarn workspaces.
  .nvmrc
  .travis.yml
  README.md
  box/config.yml
  box/post-provision.sh
  docroot/modules/custom/uiowa_alerts/package.json
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/package.json
  docroot/themes/custom/uids_base/gulpfile.js
  docroot/themes/custom/uiowa_bootstrap/gulpfile.js
  docroot/themes/custom/uiowa_bootstrap/package.json
  yarn.lock
Labels: automation, config update, dependencies

#2609 Allow up to three links in banner.
  config/default/field.field.block_content.uiowa_banner.field_uiowa_banner_link.yml
  config/default/field.storage.block_content.field_uiowa_banner_link.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-banner.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/uids/banner.html.twig
  docroot/themes/custom/uids_base/templates/uids/slider--slide.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: layout builder, sprint-44, theming, uids_base

#2696 Hotfix: Hero video and page title color fixes
  docroot/themes/custom/uids_base/assets/js/hero-video-cookie.js
  docroot/themes/custom/uids_base/assets/js/video-cookie.js
  docroot/themes/custom/uids_base/scss/layouts/onecol--background.scss
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: sprint-45, theming, uids_base

#2692 Refactor theme settings to fix phpcs warning.
  docroot/themes/custom/uids_base/theme-settings.php
Labels: gone-rogue, sprint-45

#2698 uiowa_bootstrap hr remote video sizing fixes
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/media/_embedded-entity.scss
Labels: bug, hr.uiowa.edu, uiowa_bootstrap

#2708 Make the section links show up on focus.
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: a11y, theming, uids_base

#2709 Feature: Layout Builder double click block to edit
  composer.json
  composer.lock
  config/default/core.extension.yml
Labels: config update, dependencies, javascript, joeing-rogue

#2713 Sitenow migrate refactor/updates
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/MigratePostImportEvent.php
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/MigratePreRollbackEvent.php
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/PostRowSaveEvent.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/process/SkipOnNotEmpty.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Articles.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/BaseNodeSource.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Files.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Pages.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/People.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/ProcessMediaTrait.php
Labels: content migration, enhancement

#2718 Fix: container fix for v2 sites
  docroot/themes/custom/uids_base/scss/sitenow.scss
Labels: bug

#2733 Small and br tags allowed in minimal html.
  config/default/filter.format.minimal.yml
Labels: theming

#2719 Allow for minimal text in CTA
  config/default/core.entity_form_display.block_content.uiowa_cta.default.yml
  config/default/core.entity_view_display.block_content.uiowa_cta.default.yml
  config/default/field.field.block_content.uiowa_cta.field_uiowa_cta_summary.yml
  config/default/field.storage.block_content.field_uiowa_cta_summary.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/scss/components/cta.scss
Labels: enhancement

#2734 Feature stat no hover
  config/default/field.field.block_content.uiowa_statistic.field_uiowa_statistic_content.yml
  config/default/layout_builder_styles.style.stat_remove_hover_effect.yml
  docroot/themes/custom/uids_base/scss/components/stat.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-statistic.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: enhancement

#2743 Change search query string to terms and update uiowa.edu schema to match.
  config/uiowa.edu/metatag.metatag_defaults.front.yml
  docroot/modules/custom/uiowa_search/js/cse.results.js
  docroot/modules/custom/uiowa_search/src/Controller/UiowaSearchResultsController.php
  docroot/modules/custom/uiowa_search/src/Form/SearchForm.php
Labels: bug

#2732 Feature: Updated person page
  config/admissions.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/default/core.entity_form_display.node.person.default.yml
  config/default/core.entity_form_display.node.person.minimal.yml
  config/default/core.entity_view_display.node.person.default.yml
  config/default/core.entity_view_display.node.person.teaser.yml
  config/default/field.field.node.person.field_person_hometown.yml
  config/default/field.storage.node.field_person_hometown.yml
  config/default/views.view.person_card.yml
  config/features/person_extended/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  docroot/modules/custom/layout_builder_custom/src/EventSubscriber/SectionComponentSubscriber.php
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.libraries.yml
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.module
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/templates/views-view-unformatted--person-card.html.twig
  docroot/themes/custom/uids_base/scss/content/person.scss
  docroot/themes/custom/uids_base/templates/content/node--person--full.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--pt-student-dissertation-title--person.html.twig
  docroot/themes/custom/uids_base/templates/uids/card.html.twig
  docroot/themes/custom/uids_base/templates/views/views-view-unformatted--person-card.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: config update, feature split, joeing-rogue, site split

#2666 Grad College content type updates
  composer.json
  composer.lock
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.base_field_override.node.thesis_defense.promote.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/grad.uiowa.edu/core.entity_form_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.teaser.yml
  config/grad.uiowa.edu/field.field.node.person.field_grad_department.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_grad_department.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_person_first_name.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_person_last_name.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_thesis_defense_chairs.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_thesis_defense_date.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_thesis_defense_location.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_thesis_defense_title.yml
  config/grad.uiowa.edu/field.storage.node.field_grad_department.yml
  config/grad.uiowa.edu/field.storage.node.field_thesis_defense_chairs.yml
  config/grad.uiowa.edu/field.storage.node.field_thesis_defense_date.yml
  config/grad.uiowa.edu/field.storage.node.field_thesis_defense_location.yml
  config/grad.uiowa.edu/field.storage.node.field_thesis_defense_title.yml
  config/grad.uiowa.edu/node.type.thesis_defense.yml
  config/grad.uiowa.edu/pathauto.pattern.thesis_defense.yml
  config/grad.uiowa.edu/simple_sitemap.bundle_settings.default.node.thesis_defense.yml
  config/grad.uiowa.edu/sitenow_people.person_type.mentor.yml
  config/grad.uiowa.edu/smart_date.smart_date_format.compact.yml
  config/grad.uiowa.edu/smart_date.smart_date_format.date_only.yml
  config/grad.uiowa.edu/smart_date.smart_date_format.default.yml
  config/grad.uiowa.edu/smart_date.smart_date_format.time_only.yml
  docroot/modules/custom/grad_custom/grad_custom.info.yml
  docroot/modules/custom/grad_custom/grad_custom.module
  docroot/modules/custom/grad_custom/grad_srop/grad_srop.module
  docroot/themes/custom/uids_base/scss/fields/fields.scss
  docroot/themes/custom/uids_base/templates/field/field--node--field-thesis-defense-title.html.twig
  docroot/themes/custom/uids_base/templates/field/field.html.twig
Labels: site split, theming, uids_base

#2711 Featured image display settings
  config/admissions.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/admissions.uiowa.edu/user.role.webmaster.yml
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/coronavirus.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  config/default/config_ignore.settings.yml
  config/default/core.entity_form_display.node.article.default.yml
  config/default/core.entity_form_display.node.page.default.yml
  config/default/core.entity_view_display.node.article.default.yml
  config/default/core.entity_view_display.node.article.teaser.yml
  config/default/core.entity_view_display.node.page.default.yml
  config/default/core.entity_view_display.node.page.teaser.yml
  config/default/core.extension.yml
  config/default/field.field.node.article.field_featured_image_display.yml
  config/default/field.field.node.page.field_featured_image_display.yml
  config/default/field.storage.node.field_featured_image_display.yml
  config/default/sitenow_articles.settings.yml
  config/default/sitenow_pages.settings.yml
  config/default/user.role.webmaster.yml
  config/features/areas_of_study/user.role.webmaster.yml
  config/features/scholarship/user.role.webmaster.yml
  config/features/sitenow_v2/core.entity_form_display.node.page.default.yml
  config/features/sitenow_v2/core.entity_view_display.node.page.default.yml
  config/features/sitenow_v2/core.entity_view_display.node.page.teaser.yml
  config/features/sitenow_v2/user.role.webmaster.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/hr.uiowa.edu/config_ignore.settings.yml
  config/hr.uiowa.edu/core.entity_form_display.node.article.default.yml
  config/hr.uiowa.edu/core.entity_form_display.node.page.default.yml
  config/hr.uiowa.edu/core.entity_view_display.node.article.default.yml
  config/hr.uiowa.edu/core.entity_view_display.node.article.teaser.yml
  config/hr.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/hr.uiowa.edu/core.entity_view_display.node.page.teaser.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  config/iowasuperfund.uiowa.edu/config_split.config_split.iowasuperfund_uiowa_edu.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.article.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.article.default.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  config/presidentialsearch.uiowa.edu/user.role.webmaster.yml
  config/uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/sitenow_articles/config/install/sitenow_articles.settings.yml
  docroot/modules/custom/sitenow_articles/config/schema/sitenow_articles.schema.yml
  docroot/modules/custom/sitenow_articles/src/Form/SettingsForm.php
  docroot/modules/custom/sitenow_pages/config/install/sitenow_pages.settings.yml
  docroot/modules/custom/sitenow_pages/config/schema/sitenow_people.schema.yml
  docroot/modules/custom/sitenow_pages/sitenow_pages.info.yml
  docroot/modules/custom/sitenow_pages/sitenow_pages.links.menu.yml
  docroot/modules/custom/sitenow_pages/sitenow_pages.permissions.yml
  docroot/modules/custom/sitenow_pages/sitenow_pages.routing.yml
  docroot/modules/custom/sitenow_pages/src/Form/SettingsForm.php
  docroot/modules/custom/sitenow_people/src/Form/SettingsForm.php
  docroot/profiles/custom/sitenow/sitenow.profile
  docroot/themes/custom/uids_base/templates/layouts/onecol--background/layout--onecol--background.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: SiteNow v2, SiteNow v3, config update, feature split, site split, theming

#2758 Feature: Bit entity type and Grad College program bit type
  config/admissions.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/coronavirus.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/default/core.entity_view_display.node.page.default.yml
  config/default/core.extension.yml
  config/grad.uiowa.edu/bit.bit_type.program.yml
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.entity_form_display.bit.program.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/grad.uiowa.edu/core.entity_form_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.bit.program.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.teaser.yml
  config/grad.uiowa.edu/field.field.bit.program.field_grad_degrees_offered.yml
  config/grad.uiowa.edu/field.field.bit.program.field_grad_discipline.yml
  config/grad.uiowa.edu/field.field.bit.program.field_program_conferred_by_grad.yml
  config/grad.uiowa.edu/field.field.bit.program.field_program_homepage.yml
  config/grad.uiowa.edu/field.field.bit.program.field_program_interdisciplinary.yml
  config/grad.uiowa.edu/field.field.node.person.field_grad_program.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_grad_program.yml
  config/grad.uiowa.edu/field.storage.bit.field_grad_degrees_offered.yml
  config/grad.uiowa.edu/field.storage.bit.field_grad_discipline.yml
  config/grad.uiowa.edu/field.storage.bit.field_program_conferred_by_grad.yml
  config/grad.uiowa.edu/field.storage.bit.field_program_homepage.yml
  config/grad.uiowa.edu/field.storage.bit.field_program_interdisciplinary.yml
  config/grad.uiowa.edu/field.storage.node.field_grad_program.yml
  config/grad.uiowa.edu/sitenow_people.person_type.mentor.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/grad.uiowa.edu/views.view.graduate_programs.yml
  docroot/modules/custom/bit/bit.info.yml
  docroot/modules/custom/bit/bit.links.action.yml
  docroot/modules/custom/bit/bit.links.menu.yml
  docroot/modules/custom/bit/bit.links.task.yml
  docroot/modules/custom/bit/bit.module
  docroot/modules/custom/bit/bit.permissions.yml
  docroot/modules/custom/bit/config/schema/bit.entity_type.schema.yml
  docroot/modules/custom/bit/src/BitAccessControlHandler.php
  docroot/modules/custom/bit/src/BitInterface.php
  docroot/modules/custom/bit/src/BitListBuilder.php
  docroot/modules/custom/bit/src/BitTypeListBuilder.php
  docroot/modules/custom/bit/src/Entity/Bit.php
  docroot/modules/custom/bit/src/Entity/BitType.php
  docroot/modules/custom/bit/src/Form/BitForm.php
  docroot/modules/custom/bit/src/Form/BitTypeForm.php
  docroot/modules/custom/bit/templates/bit.html.twig
  docroot/modules/custom/grad_custom/grad_custom.module
Labels: enhancement, grad.uiowa.edu, joeing-rogue, site split
