Repository uiowa/uiowa, pull requests merged in 2020-10, with the labels that each got.

#2308 Feature: Fix default content
  docroot/profiles/custom/sitenow/content/block_content/0493513c-6b66-4d1f-bb74-505ef2bee0e8.yml
  docroot/profiles/custom/sitenow/content/block_content/0f192c84-6dc0-4891-a023-9a209715f0a3.yml
  docroot/profiles/custom/sitenow/content/block_content/5e6026e7-6d31-4452-93a7-a13d2759ddc7.yml
  docroot/profiles/custom/sitenow/content/block_content/6842e8c3-0534-4dcb-8607-29c5b6799441.yml
  docroot/profiles/custom/sitenow/content/block_content/78a2add7-b1f9-4d23-829b-013246727df9.yml
  docroot/profiles/custom/sitenow/content/block_content/955b7db8-e042-406a-84f7-22e8d06eb60c.yml
  docroot/profiles/custom/sitenow/content/block_content/a0ed775e-91c0-4b4f-8a04-39670441b4dd.yml
  docroot/profiles/custom/sitenow/content/block_content/c73f5277-3d84-4769-b6bf-7015f8eede55.yml
  docroot/profiles/custom/sitenow/content/block_content/f0f9715b-b17a-47d2-a09d-7e40807a3998.yml
  docroot/profiles/custom/sitenow/content/block_content/f5dd5fb2-0530-449a-b522-226206c0da4d.yml
  docroot/profiles/custom/sitenow/content/file/008973ee-696b-4bc5-8555-84abfd06c036.yml
  docroot/profiles/custom/sitenow/content/file/2018_06_07-Summer Lifestyle Shoot-jatorner-0188-2.JPG
  docroot/profiles/custom/sitenow/content/file/2018_08_16-Old Capitol with Flowers-tschoon-004.jpg
  docroot/profiles/custom/sitenow/content/file/2018_09_12-Drone Campus Images-0001-HDR.jpg
  docroot/profiles/custom/sitenow/content/file/3e58e867-3fa9-4c6a-8ed6-2e8ea8b11811.yml
  docroot/profiles/custom/sitenow/content/file/57d7231a-e7d4-4096-af1e-a537d2e39318.yml
  docroot/profiles/custom/sitenow/content/file/690b7b98-5917-4afb-a028-0f57e9a22744.yml
  docroot/profiles/custom/sitenow/content/file/8b2f15d4-2951-4168-9c76-20518868f790.yml
  docroot/profiles/custom/sitenow/content/file/b0a786d0-cded-4375-bcfa-ceb332466beb.yml
  docroot/profiles/custom/sitenow/content/file/c47953a6-e63b-4c3f-96b9-da4c83d864dd.yml
  docroot/profiles/custom/sitenow/content/file/ee885f39-348c-4e94-9e61-9a077a30345e.yml
  docroot/profiles/custom/sitenow/content/media/0005b838-46f9-4c0f-a669-be81fa5bd03a.yml
  docroot/profiles/custom/sitenow/content/media/0ba578d3-649e-42f8-afc2-e29d6ebf449e.yml
  docroot/profiles/custom/sitenow/content/media/99436d77-db6b-43b8-8e04-ea2f0e62b590.yml
  docroot/profiles/custom/sitenow/content/media/c7ad7c5d-0097-43b9-bc22-b479b5d30ac1.yml
  docroot/profiles/custom/sitenow/content/media/d872b41f-45af-4c94-9054-56d249130203.yml
  docroot/profiles/custom/sitenow/content/media/e40c44de-579d-4b50-9e5e-5b0c304564ff.yml
  docroot/profiles/custom/sitenow/content/node/922b3b26-306a-457c-ba18-2c00966f81cf.yml
  docroot/profiles/custom/sitenow/content/node/b61431c8-dcd6-4a06-9932-78f3bae55c4e.yml
  docroot/profiles/custom/sitenow/content/node/bf0fb68f-0cc3-45c9-8eec-86cb9fa2565d.yml
  docroot/profiles/custom/sitenow/content/node/f44a17cb-a187-4286-ad9f-aae44a8e9f85.yml
  docroot/profiles/custom/sitenow/sitenow.info.yml
Labels: SiteNow v3, bug

#2303 Remove uiowa_blocks entry from #2009
  config/default/core.extension.yml
Labels: config update, good first issue

#2326 Site: Immunology updates
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  docroot/themes/custom/uids_base/scss/fields/fields.scss
Labels: config update, site split

#2314 Add character limit to uiowa_statistic prefix/suffix fields
  config/default/core.entity_form_display.block_content.uiowa_statistic.default.yml
  config/default/field.field.block_content.uiowa_statistic.field_uiowa_statistic_title_pre.yml
  config/default/field.field.block_content.uiowa_statistic.field_uiowa_statistic_title_suf.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: SiteNow v3, enhancement

#2075 Feature: Banner block refactor
  config/default/core.entity_view_display.block_content.uiowa_banner.default.yml
  config/default/core.entity_view_display.node.page.default.yml
  config/default/field.field.block_content.uiowa_banner.field_uiowa_banner_image.yml
  config/default/field.field.block_content.uiowa_banner.field_uiowa_banner_link.yml
  config/default/layout_builder_styles.settings.yml
  config/default/layout_builder_styles.style.banner_centered.yml
  config/default/layout_builder_styles.style.banner_centered_left.yml
  config/default/layout_builder_styles.style.banner_gradient_dark.yml
  config/default/layout_builder_styles.style.banner_gradient_light.yml
  config/default/layout_builder_styles.style.banner_large.yml
  config/default/layout_builder_styles.style.banner_lower_centered.yml
  config/default/layout_builder_styles.style.banner_lower_left.yml
  config/default/layout_builder_styles.style.banner_medium.yml
  config/default/layout_builder_styles.style.banner_small.yml
  config/default/layout_builder_styles.style.block_background_style_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_reversed.yml
  config/default/layout_builder_styles.style.block_background_style_gold.yml
  config/default/layout_builder_styles.style.block_banner_style_reverse.yml
  config/default/layout_builder_styles.style.headline_all_caps.yml
  config/default/layout_builder_styles.style.headline_all_caps_highlight.yml
  config/default/layout_builder_styles.style.headline_bold_serif.yml
  config/default/layout_builder_styles.style.headline_bold_serif_highlight.yml
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/profiles/custom/sitenow/content/node/922b3b26-306a-457c-ba18-2c00966f81cf.yml
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/banner.scss
  docroot/themes/custom/uids_base/scss/components/menus/main-menu.scss
  docroot/themes/custom/uids_base/scss/components/menus/top.scss
  docroot/themes/custom/uids_base/scss/components/slider.scss
  docroot/themes/custom/uids_base/scss/layouts/twocol.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-banner.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-cta.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-event.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-image-gallery.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-statistic.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-text-area.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-vertical-video.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--tab.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-cta.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--teaser.html.twig
  docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/card/paragraph--card--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-slide.html.twig
  docroot/themes/custom/uids_base/templates/uids/banner.html.twig
  docroot/themes/custom/uids_base/templates/uids/card.html.twig
  docroot/themes/custom/uids_base/templates/uids/event.html.twig
  docroot/themes/custom/uids_base/templates/uids/heading.html.twig
  docroot/themes/custom/uids_base/templates/uids/headline.html.twig
  docroot/themes/custom/uids_base/templates/uids/stat.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  yarn.lock
Labels: 8 points, layout builder

#2338 Allow saving while source edit mode is open.
  docroot/modules/custom/layout_builder_custom/js/layout_builder_custom.overrides.js
Labels: SiteNow v3, bug

#2340 Remove metatag_fine_grained_permissions module
  config/default/core.extension.yml
  docroot/modules/custom/sitenow_seo/sitenow_seo.info.yml
Labels: config update

#2345 Potential default content bug fix
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: SiteNow v3, bug

#2341 Update to metatag patch and metatag_extended_perms module
  composer.json
  composer.lock
  config/brand.uiowa.edu/user.role.editor.yml
  config/brand.uiowa.edu/user.role.publisher.yml
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/coronavirus.uiowa.edu/user.role.editor.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  config/default/core.extension.yml
  config/default/user.role.editor.yml
  config/default/user.role.publisher.yml
  config/default/user.role.webmaster.yml
  config/features/collegiate/user.role.webmaster.yml
  config/features/sitenow_v2/user.role.editor.yml
  config/features/sitenow_v2/user.role.webmaster.yml
  config/hr.uiowa.edu/user.role.editor.yml
  config/hr.uiowa.edu/user.role.publisher.yml
  config/hr.uiowa.edu/user.role.webmaster.yml
  config/ighn.international.uiowa.edu/user.role.editor.yml
  config/ighn.international.uiowa.edu/user.role.publisher.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  config/policy.clas.uiowa.edu/user.role.editor.yml
  config/policy.clas.uiowa.edu/user.role.publisher.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/sitenow_seo/sitenow_seo.info.yml
Labels: config update, drupal 9+, site split

#2354 I2353 v3 provisions pt 1
  box/config.yml
  config/andersen.lab.uiowa.edu/.gitkeep
  config/car.lab.uiowa.edu/.gitkeep
  config/csomaycenter.uiowa.edu/.gitkeep
  config/dietrich.lab.uiowa.edu/.gitkeep
  config/gaine.lab.uiowa.edu/.gitkeep
  config/messingham.lab.uiowa.edu/.gitkeep
  config/uisrm-internship.sites.uiowa.edu/.gitkeep
  docroot/sites/andersen.lab.uiowa.edu/blt.yml
  docroot/sites/andersen.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/andersen.lab.uiowa.edu/default.settings.php
  docroot/sites/andersen.lab.uiowa.edu/settings.php
  docroot/sites/andersen.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/andersen.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/car.lab.uiowa.edu/blt.yml
  docroot/sites/car.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/car.lab.uiowa.edu/default.settings.php
  docroot/sites/car.lab.uiowa.edu/settings.php
  docroot/sites/car.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/car.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/csomaycenter.uiowa.edu/blt.yml
  docroot/sites/csomaycenter.uiowa.edu/default.local.drush.yml
  docroot/sites/csomaycenter.uiowa.edu/default.settings.php
  docroot/sites/csomaycenter.uiowa.edu/settings.php
  docroot/sites/csomaycenter.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/csomaycenter.uiowa.edu/settings/default.local.settings.php
  docroot/sites/dietrich.lab.uiowa.edu/blt.yml
  docroot/sites/dietrich.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/dietrich.lab.uiowa.edu/default.settings.php
  docroot/sites/dietrich.lab.uiowa.edu/settings.php
  docroot/sites/dietrich.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/dietrich.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/gaine.lab.uiowa.edu/blt.yml
  docroot/sites/gaine.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/gaine.lab.uiowa.edu/default.settings.php
  docroot/sites/gaine.lab.uiowa.edu/settings.php
  docroot/sites/gaine.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/gaine.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/messingham.lab.uiowa.edu/blt.yml
  docroot/sites/messingham.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/messingham.lab.uiowa.edu/default.settings.php
  docroot/sites/messingham.lab.uiowa.edu/settings.php
  docroot/sites/messingham.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/messingham.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  docroot/sites/uisrm-internship.sites.uiowa.edu/blt.yml
  docroot/sites/uisrm-internship.sites.uiowa.edu/default.local.drush.yml
  docroot/sites/uisrm-internship.sites.uiowa.edu/default.settings.php
  docroot/sites/uisrm-internship.sites.uiowa.edu/settings.php
  docroot/sites/uisrm-internship.sites.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/uisrm-internship.sites.uiowa.edu/settings/default.local.settings.php
  drush/sites/csomaycenter.site.yml
  drush/sites/labandersen.site.yml
  drush/sites/labcar.site.yml
  drush/sites/labdietrich.site.yml
  drush/sites/labgaine.site.yml
  drush/sites/labmessingham.site.yml
  drush/sites/sitesuisrm-internship.site.yml
Labels: WIP

#2152 Parent title field
  config/default/core.entity_form_display.block_content.uiowa_articles.default.yml
  config/default/core.entity_form_display.block_content.uiowa_collection.default.yml
  config/default/core.entity_form_display.block_content.uiowa_events.default.yml
  config/default/core.entity_form_display.block_content.uiowa_image_gallery.default.yml
  config/default/core.entity_form_display.block_content.uiowa_people.default.yml
  config/default/core.entity_form_display.block_content.uiowa_slider.default.yml
  config/default/core.entity_form_display.block_content.uiowa_text_area.default.yml
  config/default/core.entity_view_display.block_content.uiowa_articles.default.yml
  config/default/core.entity_view_display.block_content.uiowa_collection.accordion.yml
  config/default/core.entity_view_display.block_content.uiowa_collection.default.yml
  config/default/core.entity_view_display.block_content.uiowa_collection.descriptive_list.yml
  config/default/core.entity_view_display.block_content.uiowa_collection.tab.yml
  config/default/core.entity_view_display.block_content.uiowa_events.default.yml
  config/default/core.entity_view_display.block_content.uiowa_image_gallery.default.yml
  config/default/core.entity_view_display.block_content.uiowa_people.default.yml
  config/default/core.entity_view_display.block_content.uiowa_slider.default.yml
  config/default/core.entity_view_display.block_content.uiowa_text_area.default.yml
  config/default/field.field.block_content.uiowa_articles.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_articles.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_collection.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_collection.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_events.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_events.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_image_gallery.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_people.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_people.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_slider.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_slider.field_uiowa_headline.yml
  config/default/field.field.block_content.uiowa_text_area.field_uiowa_headline.yml
  config/default/field.storage.block_content.field_collection_heading_size.yml
  config/default/field.storage.block_content.field_uiowa_headline.yml
  config/default/tour.tour.layout-builder.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/modules/custom/layout_builder_custom/src/Plugin/Field/FieldFormatter/UiowaHeadlineFormatter.php
  docroot/modules/custom/layout_builder_custom/src/Plugin/Field/FieldType/UiowaHeadline.php
  docroot/modules/custom/layout_builder_custom/src/Plugin/Field/FieldWidget/UiowaHeadlineWidget.php
  docroot/modules/custom/layout_builder_custom/templates/uiowa_headline_field_type.html.twig
  docroot/modules/custom/sitenow_articles/sitenow_articles.module
  docroot/modules/custom/sitenow_events/sitenow_events.module
  docroot/modules/custom/sitenow_people/sitenow_people.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/typography/headings.scss
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--accordion.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--descriptive-list.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--teaser.html.twig
  docroot/themes/custom/uids_base/templates/field/field--field-uiowa-headline.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: SiteNow v3, enhancement

#2160 Preparations for Drupal 9
  .editorconfig
  .gitattributes
  composer.json
  composer.lock
  config/default/core.entity_form_display.block_content.uiowa_collection.default.yml
  config/default/core.entity_form_display.block_content.uiowa_slider.default.yml
  config/default/node_revision_delete.settings.yml
  config/default/webform.settings.yml
  docroot/.gitignore
  docroot/modules/.gitignore
  docroot/modules/.gitkeep
  docroot/profiles/.gitignore
  docroot/profiles/.gitkeep
  docroot/sites/.gitignore
  docroot/sites/default/default.services.yml
  docroot/themes/.gitignore
  docroot/themes/.gitkeep
Labels: 3 points, drupal 9+

#2373 Site grad.uiowa.edu site split updates
  config/default/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/.htaccess
  config/grad.uiowa.edu/book.settings.yml
  config/grad.uiowa.edu/core.base_field_override.node.book.promote.yml
  config/grad.uiowa.edu/core.entity_form_display.node.book.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.book.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.book.teaser.yml
  config/grad.uiowa.edu/core.entity_view_mode.node.print.yml
  config/grad.uiowa.edu/field.field.node.book.body.yml
  config/grad.uiowa.edu/node.type.book.yml
  config/grad.uiowa.edu/user.role.anonymous.yml
  config/grad.uiowa.edu/user.role.authenticated.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
Labels: config update, site split

#2371 Remove Layout Options from theme settings
  config/default/uids_base.settings.yml
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/config/install/uids_base.settings.yml
  docroot/themes/custom/uids_base/templates/layout/html.html.twig
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
  docroot/themes/custom/uids_base/theme-settings.php
  docroot/themes/custom/uids_base/uids_base.theme
Labels: SiteNow v3, uids_base

#2375 Collections form update
  config/default/core.entity_form_display.block_content.uiowa_collection.default.yml
Labels: SiteNow v3, enhancement

#2383 fix non layout pages
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
Labels: bug

#2384 Headline field fix
  docroot/modules/custom/layout_builder_custom/src/Plugin/Field/FieldFormatter/UiowaHeadlineFormatter.php
Labels: SiteNow v3, bug

#2296 Enable aggregator and allow feeds to be placed via Layout Builder.
  config/brand.uiowa.edu/administerusersbyrole.settings.yml
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  config/default/aggregator.settings.yml
  config/default/block_content.type.uiowa_aggregator.yml
  config/default/core.entity_form_display.aggregator_feed.aggregator_feed.default.yml
  config/default/core.entity_form_display.block_content.uiowa_aggregator.default.yml
  config/default/core.entity_view_display.aggregator_feed.aggregator_feed.default.yml
  config/default/core.entity_view_display.aggregator_feed.aggregator_feed.summary.yml
  config/default/core.entity_view_display.aggregator_item.aggregator_item.summary.yml
  config/default/core.entity_view_display.block_content.uiowa_aggregator.default.yml
  config/default/core.entity_view_mode.aggregator_feed.summary.yml
  config/default/core.entity_view_mode.aggregator_item.summary.yml
  config/default/core.extension.yml
  config/default/field.field.aggregator_feed.aggregator_feed.field_aggregator_feed_image.yml
  config/default/field.field.block_content.uiowa_aggregator.field_uiowa_aggregator_count.yml
  config/default/field.field.block_content.uiowa_aggregator.field_uiowa_aggregator_feeds.yml
  config/default/field.field.block_content.uiowa_aggregator.field_uiowa_aggregator_text.yml
  config/default/field.field.block_content.uiowa_aggregator.field_uiowa_headline.yml
  config/default/field.storage.aggregator_feed.field_aggregator_feed_image.yml
  config/default/field.storage.block_content.field_uiowa_aggregator_count.yml
  config/default/field.storage.block_content.field_uiowa_aggregator_feeds.yml
  config/default/field.storage.block_content.field_uiowa_aggregator_text.yml
  config/default/layout_builder_styles.style.block_hide_images.yml
  config/default/user.role.webmaster.yml
  config/default/views.view.aggregator_rss_feed.yml
  config/default/views.view.aggregator_sources.yml
  config/features/collegiate/user.role.webmaster.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  config/uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/uiowa_aggregator/src/EventSubscriber/ControllerAlterSubscriber.php
  docroot/modules/custom/uiowa_aggregator/src/EventSubscriber/RouteSubscriber.php
  docroot/modules/custom/uiowa_aggregator/uiowa_aggregator.info.yml
  docroot/modules/custom/uiowa_aggregator/uiowa_aggregator.module
  docroot/modules/custom/uiowa_aggregator/uiowa_aggregator.services.yml
  docroot/profiles/custom/sitenow/sitenow.profile
  docroot/themes/custom/uids_base/scss/blocks/aggregator.scss
  docroot/themes/custom/uids_base/scss/components/event.scss
  docroot/themes/custom/uids_base/scss/content/aggregator-feed.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/content/aggregator-item.html.twig
  docroot/themes/custom/uids_base/templates/dataset/aggregator-feed.html.twig
  docroot/themes/custom/uids_base/templates/field/field--field-uiowa-headline.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: SiteNow v3, admissions.uiowa.edu, enhancement

#2408 Enable Chosen for config-split admin forms
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: SiteNow v3, bug

#2420 Use filtered_html as default text format (if available for field)
  config/default/filter.format.filtered_html.yml
  config/default/filter.format.minimal.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
Labels: SiteNow v3, enhancement

#2429 Update Draggableviews
  composer.json
  composer.lock
Labels: bug
