Repository uiowa/uiowa, pull requests merged in 2020-06, with the labels that each got.

#1498 SiteNow Migrate updates
  config/features/sitenow_migrate/migrate_plus.migration.d7_article.yml
  config/features/sitenow_migrate/migrate_plus.migration.d7_page.yml
  docroot/modules/custom/sitenow_migrate/sitenow_migrate.services.yml
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/MigratePostImportEvent.php
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/MigratePreRollbackEvent.php
  docroot/modules/custom/sitenow_migrate/src/Form/MigrateSettingsForm.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Articles.php
Labels: WIP, sitenow profile

#1733 fix image center align problems
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/media/_media--type-image.scss
Labels: bug

#1738 Delete icsa-temp.uiowa.edu multisite on uiowa01
  box/config.yml
  config/icsa-temp.uiowa.edu/.gitkeep
  docroot/sites/icsa-temp.uiowa.edu/blt.yml
  docroot/sites/icsa-temp.uiowa.edu/default.local.drush.yml
  docroot/sites/icsa-temp.uiowa.edu/default.settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/icsa-temp.site.yml
Labels: deprovision, uiowa01

#1711 Brand - Attempt to fix custom svg fonts
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoBold.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoRegular.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/RobotoBold-Original.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/RobotoRegular-Original.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/src/Controller/LockupController.php
Labels: brand.uiowa.edu

#1719 Hero Video Cookie
  docroot/themes/custom/uids_base/assets/js/hero-video-cookie.js
  docroot/themes/custom/uids_base/uids_base.libraries.yml
Labels: uids_base

#1722 Feature: Add SiteImprove module
  composer.json
  composer.lock
  config/default/config_split.config_split.collegiate.yml
  config/features/collegiate/siteimprove.domain.single.settings.yml
  config/features/collegiate/siteimprove.settings.yml
  config/features/collegiate/user.role.editor.yml
  config/features/collegiate/user.role.publisher.yml
  config/features/collegiate/user.role.webmaster.yml
  config/uiowa.edu/user.role.webmaster.yml
Labels: collegiate split, uiowa.edu

#1687 uids_base - node preview header and actions
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: sitenow profile, uids_base

#1784 Fix for layout builder issue with editing custom blocks on reverted node
  composer.json
  composer.lock
Labels: bug, layout builder

#1785 remove adminimal theme part 2
  composer.json
  composer.lock
Labels: dependencies

#1770 Added new black background style for layout builder styles.
  config/default/layout_builder_styles.style.block_alignment_center.yml
  config/default/layout_builder_styles.style.block_alignment_flex_row_center.yml
  config/default/layout_builder_styles.style.block_alignment_flex_row_left.yml
  config/default/layout_builder_styles.style.block_alignment_left.yml
  config/default/layout_builder_styles.style.block_background_style_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_reversed.yml
  config/default/layout_builder_styles.style.block_background_style_gold.yml
  config/default/layout_builder_styles.style.block_background_style_gray.yml
  config/default/layout_builder_styles.style.block_banner_style_reverse.yml
  config/default/layout_builder_styles.style.block_card_style_border.yml
  config/default/layout_builder_styles.style.block_card_style_horizontal.yml
  config/default/layout_builder_styles.style.block_heading_bold_headline.yml
  config/default/layout_builder_styles.style.block_image_gallery_style_masonry.yml
  config/default/layout_builder_styles.style.block_margin_bottom.yml
  config/default/layout_builder_styles.style.block_margin_left.yml
  config/default/layout_builder_styles.style.block_margin_right.yml
  config/default/layout_builder_styles.style.block_margin_top.yml
  config/default/layout_builder_styles.style.block_menu_horizontal.yml
  config/default/layout_builder_styles.style.block_menu_vertical.yml
  config/default/layout_builder_styles.style.block_padding_all.yml
  config/default/layout_builder_styles.style.block_style_hero_grid.yml
  config/default/layout_builder_styles.style.block_style_hero_left_aligned.yml
  config/default/layout_builder_styles.style.section_background_style_black.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern_black.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern_reversed.yml
  config/default/layout_builder_styles.style.section_background_style_gold.yml
  config/default/layout_builder_styles.style.section_background_style_gray.yml
  config/default/layout_builder_styles.style.section_layout_grid_1x3.yml
  config/default/layout_builder_styles.style.section_layout_grid_3x2.yml
  config/default/layout_builder_styles.style.section_layout_grid_3x2_stacked.yml
  config/default/layout_builder_styles.style.section_margin_bottom.yml
  config/default/layout_builder_styles.style.section_margin_edge_to_edge.yml
  config/default/layout_builder_styles.style.section_margin_extended_width_container.yml
  config/default/layout_builder_styles.style.section_margin_fixed_width_container.yml
  config/default/layout_builder_styles.style.section_margin_full_width_container.yml
  config/default/layout_builder_styles.style.section_margin_remove_default_margins.yml
  config/default/layout_builder_styles.style.section_margin_top.yml
  config/default/layout_builder_styles.style.section_padding_bottom.yml
  config/default/layout_builder_styles.style.section_padding_bottom_extra.yml
  config/default/layout_builder_styles.style.section_padding_left.yml
  config/default/layout_builder_styles.style.section_padding_right.yml
  config/default/layout_builder_styles.style.section_padding_top.yml
  config/default/layout_builder_styles.style.section_padding_top_extra.yml
Labels: enhancement

#1782 Refactor Drush cache usage and invalidate Twig cache on deployment.
  blt/src/Blt/Plugin/Commands/MultisiteCommands.php
  blt/src/Blt/Plugin/Commands/ReplaceCommands.php
  blt/src/Multisite.php
  hooks/dev/post-code-deploy/post-code-deploy.sh
  hooks/dev/post-code-update/post-code-update.sh
  hooks/prod/post-code-deploy/post-code-deploy.sh
  hooks/prod/post-code-update/post-code-update.sh
  hooks/test/post-code-deploy/post-code-deploy.sh
  hooks/test/post-code-update/post-code-update.sh
Labels: automation

#1818 Updated policy.clas.uiowa.edu permissions for absent book node rights.
  config/policy.clas.uiowa.edu/user.role.editor.yml
  config/policy.clas.uiowa.edu/user.role.publisher.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
Labels: bug

#1764 Feature: Block content templates in uids_base
  composer.json
  composer.lock
  config/default/core.extension.yml
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-cta.html.twig
Labels: layout builder, theming

#1846 Restrict top links
  config/default/uids_base.settings.yml
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/profiles/custom/sitenow/sitenow.profile
  docroot/sites/uiowa.edu/modules/uiowa_edu_core/uiowa_edu_core.install
  docroot/themes/custom/uids_base/templates/navigation/menu--top-links.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: uids_base

#1728 Background color css
  docroot/themes/custom/uids_base/scss/paragraphs/_uiowa_paragraphs_background_overrides.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa-paragraphs-card.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa-paragraphs-lists.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs_accordion.scss
  docroot/themes/custom/uids_base/uids_base.libraries.yml
Labels: uids_base

#1852 Patch to hide 'Update widget' button when adding media via off-canvas
  composer.json
  composer.lock
Labels: bug

#1859 Updating claspolicy config for latest release.
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_banner.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_card.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_cta.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_event.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_spacer_separator.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_statistic.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_text_area.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_vertical_video.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.paragraph.people.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.paragraph.people.preview.yml
Labels: config update

#1861 Add parent accordion id. Add accordion item heading id.
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-accordion-item.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/accordion/paragraph--accordion-item--default.html.twig
Labels: sitenow profile, uids_base
