Repository uiowa/uiowa, pull requests merged in 2020-11, with the labels that each got.

#2448 Feature: Issue templates
  .github/ISSUE_TEMPLATE/bugs.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/story.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automation, enhancement

#2503 Feature scholarship weights
  composer.json
  composer.lock
  config/admissions.uiowa.edu/config_split.config_split.admissions.yml
  config/admissions.uiowa.edu/core.entity_form_display.node.scholarship.default.yml
  config/admissions.uiowa.edu/core.entity_view_display.node.scholarship.default.yml
  config/admissions.uiowa.edu/core.entity_view_display.node.scholarship.teaser.yml
  config/admissions.uiowa.edu/field.field.node.scholarship.field_weight.yml
  config/admissions.uiowa.edu/field.storage.node.field_weight.yml
  config/admissions.uiowa.edu/views.view.scholarships.yml
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.install
Labels: SiteNow v3, admissions.uiowa.edu, enhancement

#2494 Move the headline field to outside of the slider container.
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-slider.html.twig
Labels: theming, uids_base

#2476 Person Types
  config/default/config_split.config_split.person_extended.yml
  config/default/core.entity_form_display.node.person.default.yml
  config/default/core.entity_form_display.node.person.minimal.yml
  config/default/core.entity_view_display.node.person.default.yml
  config/default/core.entity_view_display.node.person.teaser.yml
  config/default/field.field.node.person.field_person_types.yml
  config/default/field.storage.node.field_person_types.yml
  config/default/sitenow_people.field_settings.yml
  config/default/sitenow_people.person_type.emeritus.yml
  config/default/sitenow_people.person_type.faculty.yml
  config/default/sitenow_people.person_type.grad_assistant.yml
  config/default/sitenow_people.person_type.phd_candidate.yml
  config/default/sitenow_people.person_type.staff.yml
  config/default/sitenow_people.person_type.student.yml
  config/features/person_extended/core.entity_form_display.node.person.default.yml
  config/features/person_extended/core.entity_form_display.node.person.minimal.yml
  config/features/person_extended/core.entity_view_display.node.person.default.yml
  config/features/person_extended/core.entity_view_display.node.person.teaser.yml
  config/features/person_extended/field.field.node.person.field_person_type.yml
  config/features/person_extended/sitenow_people.person_type.student.yml
  config/features/person_extended/taxonomy.vocabulary.person_types.yml
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/immuno.grad.uiowa.edu/sitenow_people.person_type.faculty.yml
  config/immuno.grad.uiowa.edu/sitenow_people.person_type.student.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  config/immuno.grad.uiowa.edu/views.view.person_reference.yml
  docroot/modules/custom/sitenow_people/config/schema/sitenow_people.schema.yml
  docroot/modules/custom/sitenow_people/sitenow_people.info.yml
  docroot/modules/custom/sitenow_people/sitenow_people.install
  docroot/modules/custom/sitenow_people/sitenow_people.links.action.yml
  docroot/modules/custom/sitenow_people/sitenow_people.links.menu.yml
  docroot/modules/custom/sitenow_people/sitenow_people.module
  docroot/modules/custom/sitenow_people/sitenow_people.permissions.yml
  docroot/modules/custom/sitenow_people/sitenow_people.routing.yml
  docroot/modules/custom/sitenow_people/src/Entity/PersonType.php
  docroot/modules/custom/sitenow_people/src/Form/PersonTypeForm.php
  docroot/modules/custom/sitenow_people/src/PersonTypeInterface.php
  docroot/modules/custom/sitenow_people/src/PersonTypeListBuilder.php
  docroot/profiles/custom/sitenow/css/admin-overrides.css
Labels: config update, enhancement, site split

#2509 Feature scholarship weights update
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.install
Labels: SiteNow v3, admissions.uiowa.edu

#2483 Display Advisor name as plain text if marked as "Hide on lists" and other Immunology updates
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_person_publications_link.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_person_publications_link.yml
  config/immuno.grad.uiowa.edu/sitenow_people.person_type.faculty.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  config/immuno.grad.uiowa.edu/views.view.research_areas.yml
  docroot/modules/custom/sitenow_people/sitenow_people.module
  docroot/themes/custom/uids_base/templates/content/node--person--full.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: enhancement

#2462 Card background options, template updates
  config/default/layout_builder_styles.style.block_background_style_black.yml
  config/default/layout_builder_styles.style.block_background_style_gold.yml
  config/default/layout_builder_styles.style.block_background_style_light.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/blocks/aggregator.scss
  docroot/themes/custom/uids_base/scss/blocks/articles.scss
  docroot/themes/custom/uids_base/scss/blocks/people.scss
  docroot/themes/custom/uids_base/scss/components/alert.scss
  docroot/themes/custom/uids_base/scss/components/background.scss
  docroot/themes/custom/uids_base/scss/components/card.scss
  docroot/themes/custom/uids_base/scss/components/cta.scss
  docroot/themes/custom/uids_base/scss/components/event.scss
  docroot/themes/custom/uids_base/scss/components/form/forms.scss
  docroot/themes/custom/uids_base/scss/components/media.scss
  docroot/themes/custom/uids_base/scss/components/tables.scss
  docroot/themes/custom/uids_base/scss/components/typography/headings.scss
  docroot/themes/custom/uids_base/scss/components/typography/paragraph.scss
  docroot/themes/custom/uids_base/scss/components/video/vertical.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/scss/layouts/onecol.scss
  docroot/themes/custom/uids_base/scss/paragraphs/_uiowa_paragraphs_background_overrides.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa-paragraphs-lists.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-event.html.twig
  docroot/themes/custom/uids_base/templates/content/aggregator-item.html.twig
  docroot/themes/custom/uids_base/templates/field/field--field-uiowa-headline.html.twig
  docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig
  docroot/themes/custom/uids_base/templates/uids/card.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  yarn.lock
Labels: SiteNow v2, SiteNow v3, enhancement

#2528 Feature: Follow-up additions to webform block options and form label a11y
  config/default/layout_builder_styles.style.block_background_style_light.yml
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/form/forms.scss
  docroot/themes/custom/uids_base/templates/form/container.html.twig
Labels: bug

#2543 fix for mismatched entity errors related to person type
  docroot/profiles/custom/sitenow/sitenow.install
Labels: bug

#2548 Fixed Tour button contrast issue
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: bug

#2542 Updated default menu path pattern to reflect parent path properly.
  config/default/pathauto.pattern.menu_path.yml
Labels: Default content, bug

#2571 Updated Drupal to most recent version.
  composer.lock
Labels: dependencies

#2584 Initialize journalism.uiowa.edu multisite on uiowa01
  box/config.yml
  config/journalism.uiowa.edu/.gitkeep
  docroot/sites/journalism.uiowa.edu/blt.yml
  docroot/sites/journalism.uiowa.edu/default.local.drush.yml
  docroot/sites/journalism.uiowa.edu/default.settings.php
  docroot/sites/journalism.uiowa.edu/settings.php
  docroot/sites/journalism.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/journalism.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/journalism.site.yml
Labels: clas

#2589 Block arrows don't display with the brain pattern black section background color
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: bug

#2577 Make block permissions consistent across LB (V3 based) sites
  config/admissions.uiowa.edu/user.role.editor.yml
  config/admissions.uiowa.edu/user.role.webmaster.yml
  config/coronavirus.uiowa.edu/README.md
  config/coronavirus.uiowa.edu/user.role.editor.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  config/default/config_split.config_split.collegiate.yml
  config/default/user.role.editor.yml
  config/default/user.role.webmaster.yml
  config/features/collegiate/user.role.webmaster.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/ighn.international.uiowa.edu/user.role.editor.yml
  config/policy.clas.uiowa.edu/user.role.editor.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  config/uiowa.edu/user.role.webmaster.yml
Labels: config update, site split

#2590 Move from uiowa_bar to uiowa_search for all sites except hr.uiowa.edu.
  config/admissions.uiowa.edu/user.role.webmaster.yml
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  config/default/config_ignore.settings.yml
  config/default/core.extension.yml
  config/default/uiowa_bar.settings.yml
  config/default/uiowa_search.settings.yml
  config/default/user.role.webmaster.yml
  config/features/scholarship/user.role.webmaster.yml
  config/features/sitenow_v2/user.role.webmaster.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/hr.uiowa.edu/config_ignore.settings.yml
  config/hr.uiowa.edu/config_split.config_split.hr.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  config/uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/uiowa_search/README.md
  docroot/modules/custom/uiowa_search/css/search-form.css
  docroot/modules/custom/uiowa_search/js/cse.results.js
  docroot/modules/custom/uiowa_search/js/tag-manager.js
  docroot/modules/custom/uiowa_search/src/Controller/UiowaSearchResultsController.php
  docroot/modules/custom/uiowa_search/src/Form/SearchForm.php
  docroot/modules/custom/uiowa_search/uiowa_search.libraries.yml
  docroot/modules/custom/uiowa_search/uiowa_search.module
  docroot/modules/custom/uiowa_search/uiowa_search.permissions.yml
  docroot/modules/custom/uiowa_search/uiowa_search.routing.yml
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/sites/hr.uiowa.edu/modules/hr_core/hr_core.install
  docroot/sites/hr.uiowa.edu/modules/hr_core/hr_core.module
  docroot/sites/hr.uiowa.edu/themes/hr/hr.info.yml
  docroot/themes/custom/uids_base/scss/components/search-results.scss
  docroot/themes/custom/uids_base/uids_base.info.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: config update, database update, hr.uiowa.edu, site split

#2586 Restrict hero block and remove collegiate split
  config/admissions.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/coronavirus.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/default/config_split.config_split.collegiate.yml
  config/default/core.entity_view_display.node.page.default.yml
  config/features/collegiate/.htaccess
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  config/features/collegiate/core.entity_view_display.node.page.teaser.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/profiles/custom/sitenow/sitenow.install
Labels: admissions.uiowa.edu, collegiate split, config update, coronavirus.uiowa.edu, feature split, site split, uiowa.edu

#2615 Do not generate/update the yarn lock file via blt frontend.
  blt/blt.yml
Labels: automation

#2608 Create Grad College Mentor Person Type
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_dept.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_project.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_project_assistants.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_project_desc.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_project_qualif.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_project_undergrad.yml
  config/grad.uiowa.edu/field.storage.node.field_person_mentor_dept.yml
  config/grad.uiowa.edu/field.storage.node.field_person_mentor_project.yml
  config/grad.uiowa.edu/field.storage.node.field_person_project_assistants.yml
  config/grad.uiowa.edu/field.storage.node.field_person_project_desc.yml
  config/grad.uiowa.edu/field.storage.node.field_person_project_qualif.yml
  config/grad.uiowa.edu/field.storage.node.field_person_project_undergrad.yml
  config/grad.uiowa.edu/sitenow_people.person_type.mentor.yml
  docroot/themes/custom/uids_base/templates/field/field--field-person-project-assistants.html.twig
Labels: config update, grad.uiowa.edu, site split

#2623 Sync up person view display for GC and person_extended
  config/features/person_extended/core.entity_view_display.node.person.default.yml
  config/features/person_extended/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/field.field.node.person.field_person_mentor_dept.yml
Labels: config update, feature split, site split
