Repository uiowa/uiowa, pull requests merged in 2020-07, with the labels that each got.

#1755 I1611 migrate footer menus
  config/default/block.block.uids_base_footer.yml
  config/default/menu_breadcrumb.settings.yml
  config/default/node.type.page.yml
  config/default/system.menu.footer-second.yml
  config/default/system.menu.footer.yml
  config/default/tour.tour.menus.yml
  config/default/tour.tour.site-settings.yml
  config/default/user.role.webmaster.yml
  config/hr.uiowa.edu/block.block.footer.yml
  config/hr.uiowa.edu/block.block.footersecond.yml
  config/hr.uiowa.edu/user.role.webmaster.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  docroot/profiles/custom/sitenow/sitenow.install
Labels: sitenow profile

#1923 Image background hotfix
  config/policy.clas.uiowa.edu/core.entity_view_display.media.image.edgy.yml
  docroot/profiles/custom/sitenow/sitenow.install
Labels: bug

#1912 Feature: Section alignment updates in uids_base
  config/default/layout_builder_styles.style.section_alignment_start.yml
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/card.scss
  docroot/themes/custom/uids_base/scss/components/event.scss
  docroot/themes/custom/uids_base/scss/components/video/vertical.scss
  docroot/themes/custom/uids_base/scss/layouts/fourcol.scss
  docroot/themes/custom/uids_base/scss/layouts/threecol.scss
  docroot/themes/custom/uids_base/scss/layouts/twocol.scss
  yarn.lock
Labels: layout builder

#1954 Roll back footer content removal
  docroot/profiles/custom/sitenow/sitenow.install
Labels: bug

#1969 Change uip_items field to only allow values 0 or greater
  config/default/field.field.paragraph.articles.field_uip_items.yml
  config/default/field.field.paragraph.people.field_uip_items.yml
Labels: bug

#1983 Feature: Update research areas field in person_extended split
  config/default/config_split.config_split.person_extended.yml
  config/features/person_extended/core.entity_form_display.node.person.default.yml
  config/features/person_extended/core.entity_form_display.node.person.minimal.yml
  config/features/person_extended/core.entity_view_display.node.person.default.yml
  config/features/person_extended/core.entity_view_display.node.person.teaser.yml
  config/features/person_extended/field.field.node.person.field_person_research_areas.yml
  config/features/person_extended/field.storage.node.field_person_research_areas.yml
  docroot/modules/custom/sitenow_people/sitenow_people.install
Labels: grad college

#1993 Feature: Add 'Create URL alias' to publisher role
  config/brand.uiowa.edu/user.role.publisher.yml
  config/default/user.role.publisher.yml
  config/features/collegiate/user.role.publisher.yml
  config/hr.uiowa.edu/user.role.publisher.yml
  config/ighn.international.uiowa.edu/user.role.publisher.yml
  config/policy.clas.uiowa.edu/user.role.publisher.yml
Labels: config update, grad college

#1991 Feature: Layout Builder Slider block
  composer.json
  composer.lock
  config/default/block_content.type.uiowa_slider.yml
  config/default/core.entity_form_display.block_content.uiowa_slider.default.yml
  config/default/core.entity_form_display.paragraph.uiowa_slide.default.yml
  config/default/core.entity_view_display.block_content.uiowa_slider.default.yml
  config/default/core.entity_view_display.paragraph.uiowa_slide.default.yml
  config/default/field.field.block_content.uiowa_slider.field_collection_heading_size.yml
  config/default/field.field.block_content.uiowa_slider.field_uiowa_slider_slides.yml
  config/default/field.field.paragraph.uiowa_slide.field_collection_headline.yml
  config/default/field.field.paragraph.uiowa_slide.field_uiowa_slide_content.yml
  config/default/field.field.paragraph.uiowa_slide.field_uiowa_slide_image.yml
  config/default/field.field.paragraph.uiowa_slide.field_uiowa_slide_link.yml
  config/default/field.storage.block_content.field_collection_heading_size.yml
  config/default/field.storage.block_content.field_uiowa_slider_slides.yml
  config/default/field.storage.paragraph.field_collection_headline.yml
  config/default/field.storage.paragraph.field_uiowa_slide_content.yml
  config/default/field.storage.paragraph.field_uiowa_slide_image.yml
  config/default/field.storage.paragraph.field_uiowa_slide_link.yml
  config/default/paragraphs.paragraphs_type.uiowa_slide.yml
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/slider.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-slider.html.twig
  docroot/themes/custom/uids_base/templates/block/block-content.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-slide.html.twig
  docroot/themes/custom/uids_base/templates/uids/slider--slide.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: layout builder

#2003 Hotfix: Added split items in policy.clas.uiowa.edu for new entity_view_display's
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_slider.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.paragraph.uiowa_slide.default.yml
Labels: config update

#1995 Feature: No upscaling for 'no crop' image styles and 'Original' image view mode
  config/default/image.style.no_crop__1312w.yml
  config/default/image.style.no_crop__1920w.yml
  config/default/image.style.no_crop__2592w.yml
  config/default/image.style.no_crop__384w.yml
  config/default/image.style.no_crop__768w.yml
  config/features/collegiate/filter.format.filtered_html.yml
  config/features/collegiate/filter.format.full_html.yml
  docroot/modules/custom/sitenow_media_wysiwyg/sitenow_media_wysiwyg.module
Labels: collegiate split, config update, grad college
