Repository uiowa/uiowa, pull requests merged in 2020-09, with the labels that each got.

#2069 More bg-color combination work
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/accordion.scss
  docroot/themes/custom/uids_base/scss/components/card.scss
  docroot/themes/custom/uids_base/scss/components/cta.scss
  docroot/themes/custom/uids_base/scss/components/event.scss
  docroot/themes/custom/uids_base/scss/components/footer.scss
  docroot/themes/custom/uids_base/scss/components/form/forms.scss
  docroot/themes/custom/uids_base/scss/components/typography/paragraph.scss
  docroot/themes/custom/uids_base/scss/paragraphs/_uiowa_paragraphs_background_overrides.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa-paragraphs-lists.scss
  docroot/themes/custom/uids_base/scss/views/view-display-id-people.scss
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--accordion.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--descriptive-list.html.twig
  docroot/themes/custom/uids_base/templates/block/content-templates/block-content--uiowa-collection--tab.html.twig
  docroot/themes/custom/uids_base/templates/layout/footer.html.twig
Labels: a11y, uids_base

#2106 Updated Drupal to 8.9.3
  composer.json
  composer.lock
  docroot/.htaccess
  docroot/sites/default/default.settings.php
  docroot/sites/example.settings.local.php
Labels: dependencies

#2129 hotfix for events keywords
  docroot/modules/custom/sitenow_events/sitenow_events.module
Labels: bug

#2089 Restrict more blocks
  config/default/core.entity_view_display.node.page.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.block_content.uiowa_vertical_video.default.yml
  config/uiowa.edu/block_content.type.uiowa_vertical_video.yml
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/core.entity_form_display.block_content.uiowa_vertical_video.default.yml
  config/uiowa.edu/core.entity_view_display.block_content.uiowa_vertical_video.default.yml
  config/uiowa.edu/field.field.block_content.uiowa_vertical_video.field_uiowa_vertical_video.yml
  config/uiowa.edu/field.field.block_content.uiowa_vertical_video.field_uiowa_vertical_video_cap.yml
  config/uiowa.edu/field.field.block_content.uiowa_vertical_video.field_uiowa_vertical_video_image.yml
  config/uiowa.edu/field.field.block_content.uiowa_vertical_video.field_uiowa_vertical_video_sub.yml
  config/uiowa.edu/field.field.block_content.uiowa_vertical_video.field_uiowa_vertical_video_title.yml
  config/uiowa.edu/field.storage.block_content.field_uiowa_vertical_video.yml
  config/uiowa.edu/field.storage.block_content.field_uiowa_vertical_video_cap.yml
  config/uiowa.edu/field.storage.block_content.field_uiowa_vertical_video_image.yml
  config/uiowa.edu/field.storage.block_content.field_uiowa_vertical_video_sub.yml
  config/uiowa.edu/field.storage.block_content.field_uiowa_vertical_video_title.yml
  config/uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  drush/sites/grad.site.yml
  drush/sites/gradcogscilang.site.yml
Labels: SiteNow v3, layout builder

#2164 Add upgrade status module
  composer.json
  composer.lock
  config/default/config_split.config_split.local.yml
  config/envs/local/update.settings.yml
  config/envs/local/upgrade_status.settings.yml
Labels: config update, drupal 9+

#2168 Feature: .htaccess patching
  composer.json
  composer.lock
  patches/core_htaccess.patch
Labels: automation

#2199 Provision CLAS sites
  box/config.yml
  config/cinematicarts.uiowa.edu/.gitkeep
  config/classics.uiowa.edu/.gitkeep
  config/finance.clas.uiowa.edu/.gitkeep
  config/hr.clas.uiowa.edu/.gitkeep
  docroot/sites/cinematicarts.uiowa.edu/blt.yml
  docroot/sites/cinematicarts.uiowa.edu/default.local.drush.yml
  docroot/sites/cinematicarts.uiowa.edu/default.settings.php
  docroot/sites/cinematicarts.uiowa.edu/settings.php
  docroot/sites/cinematicarts.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/cinematicarts.uiowa.edu/settings/default.local.settings.php
  docroot/sites/classics.uiowa.edu/blt.yml
  docroot/sites/classics.uiowa.edu/default.local.drush.yml
  docroot/sites/classics.uiowa.edu/default.settings.php
  docroot/sites/classics.uiowa.edu/settings.php
  docroot/sites/classics.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/classics.uiowa.edu/settings/default.local.settings.php
  docroot/sites/finance.clas.uiowa.edu/blt.yml
  docroot/sites/finance.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/finance.clas.uiowa.edu/default.settings.php
  docroot/sites/finance.clas.uiowa.edu/settings.php
  docroot/sites/finance.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/finance.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/hr.clas.uiowa.edu/blt.yml
  docroot/sites/hr.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/hr.clas.uiowa.edu/default.settings.php
  docroot/sites/hr.clas.uiowa.edu/settings.php
  docroot/sites/hr.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/hr.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/cinematicarts.site.yml
  drush/sites/clasfinance.site.yml
  drush/sites/clashr.site.yml
  drush/sites/classics.site.yml
Labels: clas

#2231 Fix for recent config status check failures
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  config/features/person_extended/core.entity_form_display.node.person.default.yml
  config/features/person_extended/core.entity_form_display.node.person.minimal.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.accordion.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.accordion.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.accordion_item.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.accordion_item.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.articles.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.articles.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.blockquote.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.blockquote.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.card.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.card.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.carousel.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.carousel.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.carousel_image.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.carousel_image.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.events.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.events.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.featured_content.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.featured_content.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.image_gallery.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.people.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.people.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.section.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.section.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.text.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.text.preview.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.webform.default.yml
  config/features/sitenow_v2/core.entity_view_display.paragraph.webform.preview.yml
  config/features/sitenow_v2/filter.format.minimal.yml
Labels: config update

#2236 Some clean-up after LB styles PR
  docroot/themes/custom/uids_base/scss/content/node--type--article.scss
  docroot/themes/custom/uids_base/scss/layouts/onecol--background.scss
  docroot/themes/custom/uids_base/scss/layouts/page--left-sidebar.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/uids_base.theme
Labels: layout builder, theming

#2239 Remove access to spacer component.
  config/coronavirus.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/features/collegiate/core.entity_view_display.node.page.default.yml
Labels: 1 point, config update

#2144 Feature horizontal stat variant
  config/default/core.entity_form_display.block_content.uiowa_statistic.default.yml
  config/default/core.entity_view_display.block_content.uiowa_statistic.default.yml
  config/default/field.field.block_content.uiowa_statistic.field_uiowa_statistic_content.yml
  config/default/field.storage.block_content.field_uiowa_statistic_content.yml
  config/default/layout_builder_styles.style.block_statistic_style_horizontal.yml
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/blocks/text-area.scss
  docroot/themes/custom/uids_base/scss/components/button.scss
  docroot/themes/custom/uids_base/scss/components/stat.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-statistic.html.twig
  docroot/themes/custom/uids_base/templates/uids/stat.html.twig
  yarn.lock
Labels: SiteNow v3, enhancement

#2268 Provisions 2020 09 30
  box/config.yml
  config/engineering.uiowa.edu/.gitkeep
  config/folland.lab.uiowa.edu/.gitkeep
  docroot/sites/engineering.uiowa.edu/blt.yml
  docroot/sites/engineering.uiowa.edu/default.local.drush.yml
  docroot/sites/engineering.uiowa.edu/default.settings.php
  docroot/sites/engineering.uiowa.edu/settings.php
  docroot/sites/engineering.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/engineering.uiowa.edu/settings/default.local.settings.php
  docroot/sites/folland.lab.uiowa.edu/blt.yml
  docroot/sites/folland.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/folland.lab.uiowa.edu/default.settings.php
  docroot/sites/folland.lab.uiowa.edu/settings.php
  docroot/sites/folland.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/folland.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/engineering.site.yml
  drush/sites/labfolland.site.yml
Labels: SSL
