Repository uiowa/uiowa, pull requests merged in 2020-03, with the labels that each got.

#1139 Provisions March 4
  box/config.yml
  config/africanamericancouncil.uiowa.edu/.gitkeep
  config/pediatriccardiology.centerforconferences.uiowa.edu/.gitkeep
  config/uibtaa.centerforconferences.uiowa.edu/.gitkeep
  docroot/sites/africanamericancouncil.uiowa.edu/blt.yml
  docroot/sites/africanamericancouncil.uiowa.edu/default.local.drush.yml
  docroot/sites/africanamericancouncil.uiowa.edu/default.settings.php
  docroot/sites/africanamericancouncil.uiowa.edu/settings.php
  docroot/sites/africanamericancouncil.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/africanamericancouncil.uiowa.edu/settings/default.local.settings.php
  docroot/sites/africanamericancouncil.uiowa.edu/settings/includes.settings.php
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/blt.yml
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/default.local.drush.yml
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/default.settings.php
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/settings.php
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/settings/default.local.settings.php
  docroot/sites/pediatriccardiology.centerforconferences.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/blt.yml
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/default.local.drush.yml
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/default.settings.php
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/settings.php
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/settings/default.local.settings.php
  docroot/sites/uibtaa.centerforconferences.uiowa.edu/settings/includes.settings.php
  drush/sites/africanamericancouncil.site.yml
  drush/sites/centerforconferencespediatriccardiology.site.yml
  drush/sites/centerforconferencesuibtaa.site.yml
Labels: provision

#1145 Initialize sdo.org.uiowa.edu multisite
  box/config.yml
  config/sdo.org.uiowa.edu/.gitkeep
  docroot/sites/sdo.org.uiowa.edu/blt.yml
  docroot/sites/sdo.org.uiowa.edu/default.local.drush.yml
  docroot/sites/sdo.org.uiowa.edu/default.settings.php
  docroot/sites/sdo.org.uiowa.edu/settings.php
  docroot/sites/sdo.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/sdo.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sdo.org.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/orgsdo.site.yml
Labels: provision

#1162 Copy global Drush commands to build artifact.
  blt/blt.yml
  blt/src/Blt/Plugin/Commands/GitCommands.php
Labels: automation

#1143 Add equal heights card display option.
  docroot/modules/custom/sitenow_paragraphs/sitenow_paragraphs.module
  docroot/themes/custom/uiowa_bootstrap/scss/partials/03_components/paragraphs/_uiowa_paragraphs.scss
Labels: sitenow profile

#1115 Brand - Lockup Font File Update
  composer.json
  composer.lock
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoBold-2020-3-3.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoRegular-2020-3-3.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/src/Controller/LockupController.php
Labels: brand.uiowa.edu, composer update

#1163 Allow classes on additional html elements
  config/uiowa.edu/filter.format.filtered_html.yml
  docroot/profiles/custom/sitenow/config/sync/filter.format.filtered_html.yml
Labels: sitenow profile, uiowa.edu

#1165 Refactor automatic site installs out of code deploy cloud hooks.
  blt/src/Blt/Plugin/Commands/MultisiteCommands.php
  blt/src/Blt/Plugin/Commands/ReplaceCommands.php
  composer.lock
  docroot/modules/custom/sitenow_seo/sitenow_seo.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: automation

#1171 Brand - Lockup fonts - Update/Rename
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoBold-2020-03.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/fonts/Iowa-RobotoRegular-2020-03.svg
  docroot/sites/brand.uiowa.edu/modules/brand_core/src/Controller/LockupController.php
Labels: brand.uiowa.edu

#1181 Feature: Add responsive image styles to uiowa.edu
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/core.entity_view_display.media.image.full__no_crop.yml
  config/uiowa.edu/core.entity_view_display.media.image.full__square.yml
  config/uiowa.edu/core.entity_view_display.media.image.full__widescreen.yml
  config/uiowa.edu/core.entity_view_display.media.image.large__no_crop.yml
  config/uiowa.edu/core.entity_view_display.media.image.large__square.yml
  config/uiowa.edu/core.entity_view_display.media.image.large__widescreen.yml
  config/uiowa.edu/core.entity_view_display.media.image.medium__no_crop.yml
  config/uiowa.edu/core.entity_view_display.media.image.medium__square.yml
  config/uiowa.edu/core.entity_view_display.media.image.medium__widescreen.yml
  config/uiowa.edu/core.entity_view_display.media.image.small__no_crop.yml
  config/uiowa.edu/core.entity_view_display.media.image.small__square.yml
  config/uiowa.edu/core.entity_view_display.media.image.small__widescreen.yml
  docroot/modules/custom/entity_types/media_image/config/install/core.entity_view_display.media.image.embedded.yml
  docroot/modules/custom/entity_types/media_image/config/install/core.entity_view_display.media.image.thumbnail.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.full__no_crop.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.full__square.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.full__widescreen.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.large__no_crop.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.large__square.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.large__widescreen.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.medium__no_crop.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.medium__square.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.medium__widescreen.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.small__no_crop.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.small__square.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.small__widescreen.yml
Labels: sitenow profile, uiowa.edu

#1194 Feature: footer menus and uiowa.edu block placement of them
  config/uiowa.edu/block.block.uids_base_footer_tertiary.yml
  config/uiowa.edu/block.block.uids_base_footerprimary.yml
  config/uiowa.edu/block.block.uids_base_footersecondary.yml
  config/uiowa.edu/user.role.webmaster.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.footer-primary.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.footer-secondary.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.footer-tertiary.yml
Labels: sitenow profile, uiowa.edu

#1195 Follow-up to footer menu changes
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/node.type.page.yml
Labels: uiowa.edu

#1196 Feature: Secondary navigation LB styles
  composer.json
  composer.lock
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/filter.format.filtered_html.yml
  config/uiowa.edu/filter.format.full_html.yml
  config/uiowa.edu/filter.format.minimal.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.block_menu_horizontal.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.block_menu_vertical.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.section_background_style_gray.yml
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: sitenow profile, uiowa.edu

#1203 Provisions March 17
  blt/src/Blt/Plugin/Commands/MultisiteCommands.php
  box/config.yml
  config/covidtesting.shl.uiowa.edu/.gitkeep
  config/iowasummermusiccamps.uiowa.edu/.gitkeep
  config/lgbtq-council.org.uiowa.edu/.gitkeep
  docroot/sites/covidtesting.shl.uiowa.edu/blt.yml
  docroot/sites/covidtesting.shl.uiowa.edu/default.local.drush.yml
  docroot/sites/covidtesting.shl.uiowa.edu/default.settings.php
  docroot/sites/covidtesting.shl.uiowa.edu/settings.php
  docroot/sites/covidtesting.shl.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/covidtesting.shl.uiowa.edu/settings/default.local.settings.php
  docroot/sites/covidtesting.shl.uiowa.edu/settings/includes.settings.php
  docroot/sites/iowasummermusiccamps.uiowa.edu/blt.yml
  docroot/sites/iowasummermusiccamps.uiowa.edu/default.local.drush.yml
  docroot/sites/iowasummermusiccamps.uiowa.edu/default.settings.php
  docroot/sites/iowasummermusiccamps.uiowa.edu/settings.php
  docroot/sites/iowasummermusiccamps.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/iowasummermusiccamps.uiowa.edu/settings/default.local.settings.php
  docroot/sites/iowasummermusiccamps.uiowa.edu/settings/includes.settings.php
  docroot/sites/lgbtq-council.org.uiowa.edu/blt.yml
  docroot/sites/lgbtq-council.org.uiowa.edu/default.local.drush.yml
  docroot/sites/lgbtq-council.org.uiowa.edu/default.settings.php
  docroot/sites/lgbtq-council.org.uiowa.edu/settings.php
  docroot/sites/lgbtq-council.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/lgbtq-council.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/lgbtq-council.org.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/iowasummermusiccamps.site.yml
  drush/sites/orglgbtq-council.site.yml
  drush/sites/shlcovidtesting.site.yml
Labels: provision

#1204 File migration path
  config/features/sitenow_migrate/migrate_plus.migration.d7_file.yml
  docroot/modules/custom/sitenow_migrate/src/Form/MigrateSettingsForm.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Files.php
Labels: bug, sitenow profile

#1210 Deprovisions March 17
  box/config.yml
  config/cnm.org.uiowa.edu/.gitkeep
  config/ismc.uiowa.edu/.gitkeep
  config/shl.uiowa.edu/.gitkeep
  docroot/sites/cnm.org.uiowa.edu/blt.yml
  docroot/sites/cnm.org.uiowa.edu/default.local.drush.yml
  docroot/sites/cnm.org.uiowa.edu/default.settings.php
  docroot/sites/cnm.org.uiowa.edu/settings.php
  docroot/sites/cnm.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/cnm.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/cnm.org.uiowa.edu/settings/includes.settings.php
  docroot/sites/ismc.uiowa.edu/blt.yml
  docroot/sites/ismc.uiowa.edu/default.local.drush.yml
  docroot/sites/ismc.uiowa.edu/default.settings.php
  docroot/sites/ismc.uiowa.edu/settings.php
  docroot/sites/ismc.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/ismc.uiowa.edu/settings/default.local.settings.php
  docroot/sites/ismc.uiowa.edu/settings/includes.settings.php
  docroot/sites/shl.uiowa.edu/blt.yml
  docroot/sites/shl.uiowa.edu/default.local.drush.yml
  docroot/sites/shl.uiowa.edu/default.settings.php
  docroot/sites/shl.uiowa.edu/settings.php
  docroot/sites/shl.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/shl.uiowa.edu/settings/default.local.settings.php
  docroot/sites/shl.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/ismc.site.yml
  drush/sites/orgcnm.site.yml
  drush/sites/shl.site.yml
Labels: deprovision

#1202 Uiowa/UIDS_Base - Add and style social menu
  config/uiowa.edu/block.block.uids_base_socialmedia.yml
  docroot/themes/custom/uids_base/scss/components/global/footer/footer.scss
Labels: uids_base, uiowa.edu

#1197 Add login link to footer.
  docroot/themes/custom/uids_base/scss/components/global/footer/footer.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/layout/footer.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: help wanted, theming, uiowa.edu

#1216 add vtt to allowed file formats
  docroot/profiles/custom/sitenow/config/sync/field.field.media.file.field_media_file.yml
Labels: sitenow profile

#1209 Feature: Ultrawide responsive image formats
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/core.entity_view_display.media.image.full__ultrawide.yml
  config/uiowa.edu/core.entity_view_display.media.image.large__ultrawide.yml
  config/uiowa.edu/core.entity_view_display.media.image.medium__ultrawide.yml
  config/uiowa.edu/core.entity_view_display.media.image.small__ultrawide.yml
  config/uiowa.edu/filter.format.filtered_html.yml
  config/uiowa.edu/filter.format.full_html.yml
  config/uiowa.edu/image.style.ultrawide__1024_x_439.yml
  config/uiowa.edu/image.style.ultrawide__1312_x_562.yml
  config/uiowa.edu/image.style.ultrawide__1920_x_823.yml
  config/uiowa.edu/image.style.ultrawide__2592_x_1111.yml
  config/uiowa.edu/image.style.ultrawide__384_x_165.yml
  config/uiowa.edu/image.style.ultrawide__768_x_329.yml
  config/uiowa.edu/responsive_image.styles.full__ultrawide.yml
  config/uiowa.edu/responsive_image.styles.large__ultrawide.yml
  config/uiowa.edu/responsive_image.styles.medium__ultrawide.yml
  config/uiowa.edu/responsive_image.styles.small__ultrawide.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.full__ultrawide.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.large__ultrawide.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.medium__ultrawide.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_mode.media.small__ultrawide.yml
  docroot/themes/custom/uids_base/templates/layout/footer.html.twig
Labels: sitenow profile, uiowa.edu

#1229 Feature: uiowa.edu menu updates
  config/uiowa.edu/block.block.externalquicklinks.yml
  config/uiowa.edu/block.block.main_navigation__superfish__horizontal.yml
  config/uiowa.edu/block.block.main_navigation__superfish__mega.yml
  config/uiowa.edu/block.block.main_navigation__superfish__toggle.yml
  config/uiowa.edu/block.block.uids_base_toplinks.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.external-quick-links.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.top-links.yml
  docroot/themes/custom/uids_base/scss/components/global/menus/group/group.scss
  docroot/themes/custom/uids_base/scss/components/global/menus/top/top.scss
  docroot/themes/custom/uids_base/scss/components/global/menus/vertical/vertical.scss
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: sitenow profile, uiowa.edu

#1241 Create haa, occsafety and glam sites.
  box/config.yml
  config/glam.org.uiowa.edu/.gitkeep
  config/haa.org.uiowa.edu/.gitkeep
  config/occsafety.course.uiowa.edu/.gitkeep
  docroot/sites/glam.org.uiowa.edu/blt.yml
  docroot/sites/glam.org.uiowa.edu/default.local.drush.yml
  docroot/sites/glam.org.uiowa.edu/default.settings.php
  docroot/sites/glam.org.uiowa.edu/settings.php
  docroot/sites/glam.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/glam.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/glam.org.uiowa.edu/settings/includes.settings.php
  docroot/sites/haa.org.uiowa.edu/blt.yml
  docroot/sites/haa.org.uiowa.edu/default.local.drush.yml
  docroot/sites/haa.org.uiowa.edu/default.settings.php
  docroot/sites/haa.org.uiowa.edu/settings.php
  docroot/sites/haa.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/haa.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/haa.org.uiowa.edu/settings/includes.settings.php
  docroot/sites/occsafety.course.uiowa.edu/blt.yml
  docroot/sites/occsafety.course.uiowa.edu/default.local.drush.yml
  docroot/sites/occsafety.course.uiowa.edu/default.settings.php
  docroot/sites/occsafety.course.uiowa.edu/settings.php
  docroot/sites/occsafety.course.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/occsafety.course.uiowa.edu/settings/default.local.settings.php
  docroot/sites/occsafety.course.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/courseoccsafety.site.yml
  drush/sites/orgglam.site.yml
  drush/sites/orghaa.site.yml
Labels: provision

#1237 Feature: uiowa.edu updates
  config/iowasuperfund.uiowa.edu/.htaccess
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_breadcrumbs.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_content.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_local_actions.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_masquerade.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_messages.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_page_title.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_primary_local_tasks.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.claro_secondary_local_tasks.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.main_navigation__superfish__horizontal.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.main_navigation__superfish__mega.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.main_navigation__superfish__toggle.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_branding.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_breadcrumbs.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_content.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_externalquicklinks.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_footer.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_footer_tertiary.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_footercontactinfo.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_footerprimary.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_footersecondary.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_local_actions.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_local_tasks.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_messages.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_page_title.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_searchlinks.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_socialmedia.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_toplinks.yml
  docroot/profiles/custom/sitenow/config/sync/components.settings.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_display.block_content.uiowa_hero.default.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_display.block_content.uiowa_page_title_hero.default.yml
  docroot/profiles/custom/sitenow/config/sync/core.entity_view_display.media.video.default.yml
  docroot/profiles/custom/sitenow/config/sync/core.extension.yml
  docroot/profiles/custom/sitenow/config/sync/system.menu.search-links.yml
  docroot/profiles/custom/sitenow/config/sync/uids_base.settings.yml
  docroot/sites/iowasuperfund.uiowa.edu/blt.yml
  docroot/sites/iowasuperfund.uiowa.edu/settings/includes.settings.php
  docroot/sites/uipda.grad.uiowa.edu/blt.yml
  docroot/sites/uipda.grad.uiowa.edu/settings/includes.settings.php
  docroot/themes/custom/uids_base/scss/components/global/menus/quick/quick.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/global/heading.html.twig
  docroot/themes/custom/uids_base/templates/global/search-toggle.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: sitenow profile, uiowa.edu

#1242 Test honeypot patch
  composer.json
  composer.lock
Labels: composer update

#1250 Import A-Z Links into uiowa.edu
  docroot/sites/uiowa.edu/modules/uiowa_edu_core/uiowa_edu_core.install
Labels: uiowa.edu

#1236 Feature: Fixes for IE11 and component inconsistencies/bugs
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.block_alignment_flex_row_center.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.block_background_style_brain_pattern_black.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.section_background_style_brain_pattern_black.yml
  docroot/profiles/custom/sitenow/config/sync/layout_builder_styles.style.section_layout_grid_1x3.yml
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/blocks/cta-block/cta-block.scss
  docroot/themes/custom/uids_base/scss/components/blocks/stat-block/stat-block.scss
  docroot/themes/custom/uids_base/scss/components/elements/breadcrumbs/breadcrumbs.scss
  docroot/themes/custom/uids_base/scss/components/elements/video/video.scss
  docroot/themes/custom/uids_base/scss/components/global/menus/quick/quick.scss
  docroot/themes/custom/uids_base/scss/components/templates/page-layouts/page-layouts.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-cta.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-page-title-hero.html.twig
  docroot/themes/custom/uids_base/templates/content/media--remote-video.html.twig
  docroot/themes/custom/uids_base/templates/layout/footer.html.twig
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
  docroot/themes/custom/uids_base/templates/layouts/fourcol/fourcol.css
  docroot/themes/custom/uids_base/templates/layouts/threecol/threecol.css
  docroot/themes/custom/uids_base/uids_base.info.yml
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: WIP

#1260 Feature: UIowa Alerts module, breadcrumb region, theme refactoring
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  docroot/modules/custom/uiowa_alerts/README.md
  docroot/modules/custom/uiowa_alerts/config/install/uiowa_alerts.settings.yml
  docroot/modules/custom/uiowa_alerts/config/schema/uiowa_alerts.schema.yml
  docroot/modules/custom/uiowa_alerts/js/moment.min.js
  docroot/modules/custom/uiowa_alerts/js/uiowa_alerts.js
  docroot/modules/custom/uiowa_alerts/src/Form/SettingsForm.php
  docroot/modules/custom/uiowa_alerts/src/Plugin/Block/AlertsBlock.php
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.info.yml
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.libraries.yml
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.links.menu.yml
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.permissions.yml
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.routing.yml
  docroot/profiles/custom/sitenow/config/sync/block.block.uids_base_breadcrumbs.yml
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-page-title-hero.html.twig
  docroot/themes/custom/uids_base/templates/block/hero.html.twig
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: uids_base, uiowa.edu

#1252 brand.uiowa.edu - split to allow management of collaborator role
  config/brand.uiowa.edu/administerusersbyrole.settings.yml
  config/brand.uiowa.edu/config_split.config_split.brand.yml
Labels: brand.uiowa.edu, bug

#1263 uiowa.edu - a-z search view titles contextual filters
  config/uiowa.edu/views.view.a_z_list.yml
  docroot/sites/uiowa.edu/modules/uiowa_edu_core/uiowa_edu_core.module
Labels: uiowa.edu

#1269 Feature: Hawk Alerts on uiowa.edu and formatting updates
  config/uiowa.edu/block.block.uids_base_alertsblock.yml
  config/uiowa.edu/config_split.config_split.uiowa_edu.yml
  config/uiowa.edu/filter.format.minimal.yml
  config/uiowa.edu/uiowa_alerts.settings.yml
  docroot/profiles/custom/sitenow/config/sync/config_ignore.settings.yml
  docroot/profiles/custom/sitenow/config/sync/editor.editor.minimal.yml
Labels: sitenow profile, uiowa.edu

#1299 Honeypot/Webform Timeout
  composer.json
  composer.lock
  docroot/profiles/custom/sitenow/config/sync/honeypot.settings.yml
  docroot/profiles/custom/sitenow/config/sync/webform.settings.yml
Labels: composer update, sitenow profile

#1296 Enable bigpipe and sessionless bigpipe in default config.
  composer.json
  composer.lock
  docroot/profiles/custom/sitenow/config/sync/core.extension.yml
Labels: composer update
