Repository uiowa/uiowa, pull requests merged in 2020-08, with the labels that each got.

#1893 Turn on per-page LB in coronavirus.uiowa.edu while maintaining existing paragraph layouts
  config/coronavirus.uiowa.edu/.htaccess
  config/coronavirus.uiowa.edu/config_split.config_split.coronavirus_uiowa_edu.yml
  config/coronavirus.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/coronavirus.uiowa.edu/user.role.editor.yml
  config/coronavirus.uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/sitenow_paragraphs/modules/sitenow_carousel/sitenow_carousel.module
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/components/slider.scss
  docroot/themes/custom/uids_base/templates/layouts/onecol/layout--onecol.html.twig
  docroot/themes/custom/uids_base/templates/layouts/page--left-sidebar/layout--page--left-sidebar.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-slide.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: layout builder, site split

#2000 Feature: Add layout builder style groupings
  composer.json
  composer.lock
  config/default/core.extension.yml
  config/default/layout_builder_styles.settings.yml
  config/default/layout_builder_styles.style.block_alignment_center.yml
  config/default/layout_builder_styles.style.block_alignment_flex_row_center.yml
  config/default/layout_builder_styles.style.block_alignment_flex_row_left.yml
  config/default/layout_builder_styles.style.block_alignment_left.yml
  config/default/layout_builder_styles.style.block_background_style_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_black.yml
  config/default/layout_builder_styles.style.block_background_style_brain_pattern_reversed.yml
  config/default/layout_builder_styles.style.block_background_style_gold.yml
  config/default/layout_builder_styles.style.block_background_style_gray.yml
  config/default/layout_builder_styles.style.block_banner_style_reverse.yml
  config/default/layout_builder_styles.style.block_card_style_border.yml
  config/default/layout_builder_styles.style.block_card_style_horizontal.yml
  config/default/layout_builder_styles.style.block_heading_bold_headline.yml
  config/default/layout_builder_styles.style.block_image_gallery_style_masonry.yml
  config/default/layout_builder_styles.style.block_margin_bottom.yml
  config/default/layout_builder_styles.style.block_margin_left.yml
  config/default/layout_builder_styles.style.block_margin_right.yml
  config/default/layout_builder_styles.style.block_margin_top.yml
  config/default/layout_builder_styles.style.block_menu_horizontal.yml
  config/default/layout_builder_styles.style.block_menu_vertical.yml
  config/default/layout_builder_styles.style.block_padding_all.yml
  config/default/layout_builder_styles.style.block_style_hero_grid.yml
  config/default/layout_builder_styles.style.block_style_hero_left_aligned.yml
  config/default/layout_builder_styles.style.section_alignment_start.yml
  config/default/layout_builder_styles.style.section_background_style_black.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern_black.yml
  config/default/layout_builder_styles.style.section_background_style_brain_pattern_reversed.yml
  config/default/layout_builder_styles.style.section_background_style_gold.yml
  config/default/layout_builder_styles.style.section_background_style_gray.yml
  config/default/layout_builder_styles.style.section_layout_grid_1x3.yml
  config/default/layout_builder_styles.style.section_layout_grid_3x2.yml
  config/default/layout_builder_styles.style.section_layout_grid_3x2_stacked.yml
  config/default/layout_builder_styles.style.section_margin_bottom.yml
  config/default/layout_builder_styles.style.section_margin_edge_to_edge.yml
  config/default/layout_builder_styles.style.section_margin_extended_width_container.yml
  config/default/layout_builder_styles.style.section_margin_fixed_width_container.yml
  config/default/layout_builder_styles.style.section_margin_full_width_container.yml
  config/default/layout_builder_styles.style.section_margin_remove_default_margins.yml
  config/default/layout_builder_styles.style.section_margin_top.yml
  config/default/layout_builder_styles.style.section_padding_bottom.yml
  config/default/layout_builder_styles.style.section_padding_bottom_extra.yml
  config/default/layout_builder_styles.style.section_padding_left.yml
  config/default/layout_builder_styles.style.section_padding_remove_default_padding.yml
  config/default/layout_builder_styles.style.section_padding_right.yml
  config/default/layout_builder_styles.style.section_padding_top.yml
  config/default/layout_builder_styles.style.section_padding_top_extra.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/modules/custom/uiowa_blocks/uiowa_blocks.module
  docroot/themes/custom/uids_base/uids_base.theme
Labels: SiteNow v3, config update, layout builder

#1979 Feature layout block restrictions
  composer.json
  composer.lock
  config/default/core.entity_view_display.node.page.default.yml
  config/default/core.extension.yml
  config/default/user.role.editor.yml
  config/default/user.role.webmaster.yml
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.page.default.yml
Labels: SiteNow v3, layout builder

#2041 Minimal HTML default text format
  config/default/field.field.block_content.uiowa_hero.field_uiowa_hero_excerpt.yml
  config/default/field.field.block_content.uiowa_spacer_separator.field_uiowa_spacer_separator_txt.yml
  config/default/filter.format.filtered_html.yml
  config/default/filter.format.minimal.yml
  config/features/collegiate/filter.format.filtered_html.yml
  config/features/collegiate/filter.format.full_html.yml
  config/features/collegiate/filter.format.minimal.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
Labels: SiteNow v3

#2057 Changed the name of the 'CTA' block to 'Call to action'
  config/default/block_content.type.uiowa_cta.yml
Labels: SiteNow v3, layout builder

#2079 Update accordion ids
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-collection-item--accordion.html.twig
  docroot/themes/custom/uids_base/templates/uids/accordion-item.html.twig
Labels: a11y, bug, layout builder

#2081 Feature: Immunology updates and additional person_extended tweaks
  composer.json
  composer.lock
  config/default/config_split.config_split.person_extended.yml
  config/features/person_extended/core.entity_form_display.node.person.default.yml
  config/features/person_extended/core.entity_form_display.node.person.minimal.yml
  config/features/person_extended/core.entity_view_display.node.person.default.yml
  config/features/person_extended/core.entity_view_display.node.person.teaser.yml
  config/features/person_extended/field.field.node.person.field_person_department.yml
  config/features/person_extended/field.field.node.person.field_person_lab_building.yml
  config/features/person_extended/field.field.node.person.field_person_lab_phone.yml
  config/features/person_extended/field.field.node.person.field_person_lab_room.yml
  config/features/person_extended/field.field.node.person.field_person_office_building.yml
  config/features/person_extended/field.field.node.person.field_person_office_phone.yml
  config/features/person_extended/field.field.node.person.field_person_office_room.yml
  config/features/person_extended/field.field.node.person.field_person_university_id.yml
  config/features/person_extended/field.field.node.person.field_pt_student_current.yml
  config/features/person_extended/field.storage.node.field_person_department.yml
  config/features/person_extended/field.storage.node.field_person_lab_building.yml
  config/features/person_extended/field.storage.node.field_person_lab_phone.yml
  config/features/person_extended/field.storage.node.field_person_lab_room.yml
  config/features/person_extended/field.storage.node.field_person_office_building.yml
  config/features/person_extended/field.storage.node.field_person_office_phone.yml
  config/features/person_extended/field.storage.node.field_person_office_room.yml
  config/features/person_extended/field.storage.node.field_person_university_id.yml
  config/features/person_extended/field.storage.node.field_pt_student_current.yml
  config/features/person_extended/taxonomy.vocabulary.department.yml
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_faculty_type.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_advisor.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.pt_student_dissertation_title.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_advisor.yml
  config/immuno.grad.uiowa.edu/field.storage.node.pt_student_dissertation_title.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  config/immuno.grad.uiowa.edu/views.view.person_reference.yml
  config/iowasuperfund.uiowa.edu/config_split.config_split.iowasuperfund_uiowa_edu.yml
  config/iowasuperfund.uiowa.edu/core.base_field_override.node.project_core.promote.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.fragment.publication.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.project_core.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.fragment.publication.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.project_core.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.project_core.teaser.yml
  config/iowasuperfund.uiowa.edu/field.field.fragment.publication.field_authors.yml
  config/iowasuperfund.uiowa.edu/field.field.node.project_core.body.yml
  config/iowasuperfund.uiowa.edu/field.storage.fragment.field_authors.yml
  config/iowasuperfund.uiowa.edu/fragments.fragment_type.publication.yml
  config/iowasuperfund.uiowa.edu/node.type.project_core.yml
  config/iowasuperfund.uiowa.edu/simple_sitemap.bundle_settings.default.node.project_core.yml
  docroot/themes/custom/uids_base/scss/admin.scss
Labels: config update, site split

#2098 Feature: immuno updates
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_defense_date.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_program_start.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_defense_date.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_program_start.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
Labels: config update, site split

#2100 Another round of immuno.grad.uiowa.edu updates
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_cur_pos_dept.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_cur_pos_inst.yml
  config/immuno.grad.uiowa.edu/field.field.node.person.field_pt_student_cur_pos_title.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_cur_pos_dept.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_cur_pos_inst.yml
  config/immuno.grad.uiowa.edu/field.storage.node.field_pt_student_cur_pos_title.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  docroot/modules/custom/sitenow_people/sitenow_people.module
Labels: config update, site split

#2101 Immuno update: custom person view to honor the hide on lists option
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
Labels: config update, site split

#2114 Site: Immuno finishing updates
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
  config/immuno.grad.uiowa.edu/core.date_format.month_day_year.yml
  config/immuno.grad.uiowa.edu/core.date_format.month_year.yml
  config/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
  docroot/themes/custom/uids_base/templates/content/node--person--full.html.twig
Labels: config update, site split

#2117 Immuno: Updated person view
  config/immuno.grad.uiowa.edu/views.view.person_custom.yml
Labels: config update, site split
