Repository uiowa/uiowa, pull requests merged in 2020-04, with the labels that each got.

#1318 Corrected mispelling with uids_base.settings.
  docroot/profiles/custom/sitenow/config/sync/config_ignore.settings.yml
Labels: sitenow profile, uiowa.edu

#1339 Initialize anthropology.uiowa.edu multisite
  box/config.yml
  config/anthropology.uiowa.edu/.gitkeep
  docroot/sites/anthropology.uiowa.edu/blt.yml
  docroot/sites/anthropology.uiowa.edu/default.local.drush.yml
  docroot/sites/anthropology.uiowa.edu/default.settings.php
  docroot/sites/anthropology.uiowa.edu/settings.php
  docroot/sites/anthropology.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/anthropology.uiowa.edu/settings/default.local.settings.php
  docroot/sites/anthropology.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/anthropology.site.yml
Labels: uiowa01

#1360 Feature: Update webmaster permission and add iowasuperfund.uiowa.edu split
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/features/collegiate/user.role.webmaster.yml
  config/hr.uiowa.edu/user.role.webmaster.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  config/iowasuperfund.uiowa.edu/config_split.config_split.iowasuperfund_uiowa_edu.yml
  config/iowasuperfund.uiowa.edu/core.entity_form_display.node.article.default.yml
  config/iowasuperfund.uiowa.edu/core.entity_view_display.node.article.default.yml
  docroot/profiles/custom/sitenow/config/sync/user.role.webmaster.yml
Labels: grad college, sitenow profile

#1342 Implement google search schema for uiowa.edu frontpage
  composer.json
  composer.lock
  config/uiowa.edu/metatag.metatag_defaults.front.yml
Labels: composer update

#1362 Require drupal/webp:1.x-dev to hide config page from webmasters.
  composer.json
  composer.lock
Labels: composer update

#1372 Initialize policy-temp.clas.uiowa.edu multisite
  box/config.yml
  config/policy-temp.clas.uiowa.edu/.gitkeep
  docroot/sites/policy-temp.clas.uiowa.edu/blt.yml
  docroot/sites/policy-temp.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/policy-temp.clas.uiowa.edu/default.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/policy-temp.clas.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/claspolicy-temp.site.yml
Labels: uiowa01

#1380 Fix preview error caused by moderation check
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: bug, sitenow profile

#1381 Feature reprovision clas policy site
  box/config.yml
  config/policy.clas.uiowa.edu/.htaccess
  docroot/sites/policy.clas.uiowa.edu/blt.yml
  docroot/sites/policy.clas.uiowa.edu/settings.php
  docroot/sites/policy.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/policy.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/policy.clas.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/claspolicy.site.yml
Labels: uiowa01

#1359 Refactor uiowa_alerts to allow webmaster control with increased a11y and custom message.
  .gitignore
  blt/blt.yml
  composer.json
  composer.lock
  config/uiowa.edu/uiowa_alerts.settings.yml
  docroot/modules/custom/uiowa_alerts/.babelrc
  docroot/modules/custom/uiowa_alerts/.browserlistrc
  docroot/modules/custom/uiowa_alerts/README.md
  docroot/modules/custom/uiowa_alerts/config/install/uiowa_alerts.settings.yml
  docroot/modules/custom/uiowa_alerts/config/schema/uiowa_alerts.schema.yml
  docroot/modules/custom/uiowa_alerts/es6/uiowa_alerts.es6
  docroot/modules/custom/uiowa_alerts/js/moment.min.js
  docroot/modules/custom/uiowa_alerts/js/uiowa_alerts.js
  docroot/modules/custom/uiowa_alerts/package.json
  docroot/modules/custom/uiowa_alerts/sass/uiowa_alerts.scss
  docroot/modules/custom/uiowa_alerts/src/Form/SettingsForm.php
  docroot/modules/custom/uiowa_alerts/src/Plugin/Block/AlertsBlock.php
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.install
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.libraries.yml
  docroot/modules/custom/uiowa_alerts/uiowa_alerts.permissions.yml
  docroot/profiles/custom/sitenow/sitenow.libraries.yml
  docroot/sites/hr.uiowa.edu/themes/hr/package.json
  docroot/sites/uiowa.edu/modules/uiowa_edu_core/uiowa_edu_core.install
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uiowa_bootstrap/package.json
  package.json
  yarn.lock
Labels: a11y, blocked, composer update, uiowa.edu

#1384 Update Redirect with latest wildcard patch
  composer.json
  composer.lock
Labels: composer update

#1383 Patch core to allow saved changes to embedded media
  composer.json
  composer.lock
Labels: composer update

#1330 Feature: uiowa_core module
  composer.json
  composer.lock
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/hr.uiowa.edu/user.role.webmaster.yml
  config/ighn.international.uiowa.edu/user.role.webmaster.yml
  docroot/modules/custom/uiowa_core/config/schema/uiowa_core.schema.yml
  docroot/modules/custom/uiowa_core/drush.services.yml
  docroot/modules/custom/uiowa_core/js/tag-manager.js
  docroot/modules/custom/uiowa_core/src/Access/UiowaCoreAccess.php
  docroot/modules/custom/uiowa_core/src/Commands/UiowaCoreCommands.php
  docroot/modules/custom/uiowa_core/src/Form/SettingsForm.php
  docroot/modules/custom/uiowa_core/src/Form/UiowaCoreSiteInformationForm.php
  docroot/modules/custom/uiowa_core/src/Routing/UiowaCoreRouteSubscriber.php
  docroot/modules/custom/uiowa_core/uiowa_core.info.yml
  docroot/modules/custom/uiowa_core/uiowa_core.libraries.yml
  docroot/modules/custom/uiowa_core/uiowa_core.links.menu.yml
  docroot/modules/custom/uiowa_core/uiowa_core.module
  docroot/modules/custom/uiowa_core/uiowa_core.permissions.yml
  docroot/modules/custom/uiowa_core/uiowa_core.routing.yml
  docroot/modules/custom/uiowa_core/uiowa_core.services.yml
  docroot/profiles/custom/sitenow/config/sync/config_ignore.settings.yml
  docroot/profiles/custom/sitenow/config/sync/core.extension.yml
  docroot/profiles/custom/sitenow/config/sync/google_tag.settings.yml
  docroot/profiles/custom/sitenow/config/sync/uids_base.settings.yml
  docroot/profiles/custom/sitenow/config/sync/uiowa_core.settings.yml
  docroot/profiles/custom/sitenow/config/sync/user.role.webmaster.yml
  docroot/themes/custom/uids_base/README.md
  docroot/themes/custom/uids_base/config/install/uids_base.settings.yml
  docroot/themes/custom/uids_base/templates/layout/header--below.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--homepage.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--inline.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--tertiary.html.twig
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
  docroot/themes/custom/uids_base/templates/uids/site-name.html.twig
  docroot/themes/custom/uids_base/templates/uids/site-parent.html.twig
  docroot/themes/custom/uids_base/theme-settings.php
  docroot/themes/custom/uids_base/uids_base.theme
Labels: blocked, composer update, sitenow profile, uiowa.edu

#1422 Updated footer template to follow logic of recent PR update.
  docroot/themes/custom/uids_base/templates/layout/footer.html.twig
Labels: theming, uiowa.edu

#1423 Update dependencies (round one).
  composer.json
  composer.lock
Labels: automation, composer update

#1334 Feature: Initial uids_base integration with branding site
  config/brand.uiowa.edu/config_split.config_split.brand.yml
  config/brand.uiowa.edu/system.theme.yml
  docroot/themes/custom/uids_base/assets/js/uids_base.js
  docroot/themes/custom/uids_base/scss/components/elements/accordions/accordions.scss
  docroot/themes/custom/uids_base/scss/components/elements/paragraph/paragraph.scss
  docroot/themes/custom/uids_base/scss/components/elements/video/video.scss
  docroot/themes/custom/uids_base/scss/components/global/menus/superfish/superfish.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/sitenow.scss
  docroot/themes/custom/uids_base/scss/global.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-banner.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-hero.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-page-title-hero.html.twig
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-statistic.html.twig
  docroot/themes/custom/uids_base/templates/block/hero.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--page--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--page--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--teaser.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--article.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--person.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--title--page--default.html.twig
  docroot/themes/custom/uids_base/templates/field/field--node--title.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-accordion-item.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-card-subtitle.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-card-title.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-carousel-item.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-featured-content.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-uip-title.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--below.html.twig
  docroot/themes/custom/uids_base/templates/layout/header--inline.html.twig
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
  docroot/themes/custom/uids_base/templates/layout/page.html.twig
  docroot/themes/custom/uids_base/templates/misc/sitenow-events-single-event.html.twig
  docroot/themes/custom/uids_base/templates/misc/sitenow-events-teaser.html.twig
  docroot/themes/custom/uids_base/templates/misc/status-messages.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/accordion/paragraph--accordion--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/accordion/paragraph--accordion-item--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/articles/paragraph--articles--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/card/paragraph--card--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/carousel/paragraph--carousel--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/carousel/paragraph--carousel-image--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/field--paragraph--field-section-content-block--section.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--blockquote--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--events--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--featured-content--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--image-gallery--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--section--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--webform--default.html.twig
  docroot/themes/custom/uids_base/templates/uids/banner.html.twig
  docroot/themes/custom/uids_base/templates/uids/blocks/card.html.twig
  docroot/themes/custom/uids_base/templates/uids/heading.html.twig
  docroot/themes/custom/uids_base/templates/uids/link.html.twig
  docroot/themes/custom/uids_base/templates/uids/site-name.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  yarn.lock
Labels: WIP

#1424 Creation of policy.clas.uiowa.edu config split
  config/policy.clas.uiowa.edu/.htaccess
  config/policy.clas.uiowa.edu/block.block.exposedformbook_searchpage_book_search.yml
  config/policy.clas.uiowa.edu/block.block.views_block__book_toc_block_book_toc.yml
  config/policy.clas.uiowa.edu/book.settings.yml
  config/policy.clas.uiowa.edu/config_split.config_split.policy_clas_uiowa_edu.yml
  config/policy.clas.uiowa.edu/core.base_field_override.node.book.promote.yml
  config/policy.clas.uiowa.edu/core.date_format.month_year.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.book.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.book.teaser.yml
  config/policy.clas.uiowa.edu/core.entity_view_mode.node.print.yml
  config/policy.clas.uiowa.edu/field.field.node.book.body.yml
  config/policy.clas.uiowa.edu/field.field.node.book.book_amended_date.yml
  config/policy.clas.uiowa.edu/field.field.node.book.book_owner.yml
  config/policy.clas.uiowa.edu/field.field.node.book.book_tags.yml
  config/policy.clas.uiowa.edu/field.storage.node.book_amended_date.yml
  config/policy.clas.uiowa.edu/field.storage.node.book_owner.yml
  config/policy.clas.uiowa.edu/field.storage.node.book_tags.yml
  config/policy.clas.uiowa.edu/node.type.book.yml
  config/policy.clas.uiowa.edu/pathauto.pattern.book_page.yml
  config/policy.clas.uiowa.edu/search_api.index.book_content_and_tags.yml
  config/policy.clas.uiowa.edu/search_api.server.database_server.yml
  config/policy.clas.uiowa.edu/search_api.settings.yml
  config/policy.clas.uiowa.edu/search_api_autocomplete.search.book_search.yml
  config/policy.clas.uiowa.edu/search_api_autocomplete.settings.yml
  config/policy.clas.uiowa.edu/search_api_db.settings.yml
  config/policy.clas.uiowa.edu/taxonomy.vocabulary.book_tags.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-index-fields.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-index-form.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-index-processors.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-index.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-server-form.yml
  config/policy.clas.uiowa.edu/tour.tour.search-api-server.yml
  config/policy.clas.uiowa.edu/views.view.book_search.yml
  config/policy.clas.uiowa.edu/views.view.book_toc.yml
Labels: uiowa01

#1388 Initialize advisingcenter.uiowa.edu multisite on uiowa01
  box/config.yml
  config/advisingcenter.uiowa.edu/.gitkeep
  docroot/sites/advisingcenter.uiowa.edu/blt.yml
  docroot/sites/advisingcenter.uiowa.edu/default.local.drush.yml
  docroot/sites/advisingcenter.uiowa.edu/default.settings.php
  docroot/sites/advisingcenter.uiowa.edu/settings.php
  docroot/sites/advisingcenter.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/advisingcenter.uiowa.edu/settings/default.local.settings.php
  docroot/sites/advisingcenter.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/advisingcenter.site.yml
Labels: uiowa01

#1430 Update tag manager script to JS.
  docroot/modules/custom/uiowa_core/js/tag-manager.js
Labels: bug

#1432 Updated policy.clas.uiowa.edu config split with theme settings in req…
  config/policy.clas.uiowa.edu/block.block.exposedformbook_searchpage_book_search.yml
  config/policy.clas.uiowa.edu/block.block.views_block__book_toc_block_book_toc.yml
Labels: bug, uiowa01

#1433 Add core patch which sets img dimensions with fallback info
  composer.json
  composer.lock
Labels: composer update

#1435 Fix References to Unpublished
  composer.json
  composer.lock
  docroot/profiles/custom/sitenow/config/sync/core.extension.yml
  docroot/profiles/custom/sitenow/config/sync/field.field.node.article.field_article_author.yml
Labels: bug, composer update

#1450 Feature: Include schema changes to layout_builder_restrictions in page config
  config/features/collegiate/core.entity_view_display.node.page.default.yml
Labels: collegiate split, layout builder

#1453 Updated exported config for policy.clas.uiowa.edu
  config/policy.clas.uiowa.edu/block.block.exposedformbook_searchpage_book_search.yml
  config/policy.clas.uiowa.edu/block.block.views_block__book_toc_block_book_toc.yml
  config/policy.clas.uiowa.edu/config_split.config_split.policy_clas_uiowa_edu.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/policy.clas.uiowa.edu/core.entity_view_display.node.page.teaser.yml
Labels: site split

#1456 Fixed problem with outputting array of classes for drop down nav.
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
Labels: bug, theming, uids_base

#1426 Feature: Contact Info (content) block
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  docroot/profiles/custom/sitenow/content/block_content/0c0c1f36-3804-48b0-b384-6284eed8c67e.json
  docroot/profiles/custom/sitenow/sitenow.install
Labels: collegiate split, layout builder, uids_base

#1452 Brand - Switch lockup form to use uids_base
  docroot/sites/brand.uiowa.edu/modules/brand_core/src/Theme/LockupForm.php
Labels: brand.uiowa.edu

#1474 Updated permissions, views and form_display for policy.clas.uiowa.edu site split.
  config/policy.clas.uiowa.edu/block.block.main_navigation__superfish__horizontal.yml
  config/policy.clas.uiowa.edu/block.block.main_navigation__superfish__toggle.yml
  config/policy.clas.uiowa.edu/config_split.config_split.policy_clas_uiowa_edu.yml
  config/policy.clas.uiowa.edu/core.entity_form_display.node.book.default.yml
  config/policy.clas.uiowa.edu/user.role.editor.yml
  config/policy.clas.uiowa.edu/user.role.publisher.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  config/policy.clas.uiowa.edu/views.view.book_search.yml
  config/policy.clas.uiowa.edu/views.view.book_toc.yml
Labels: site split, uiowa01

#1431 Feature: uids_base sitenow partials/utilities refactor
  docroot/themes/custom/uids_base/assets/js/uids_base.js
  docroot/themes/custom/uids_base/package.json
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/components/global/menus/superfish/superfish.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/content/node--type--article.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/content/node--type--page.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/content/node--type--person.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/content/node--view-mode-teaser.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/fields/field--name-field-uip-title.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/media/embedded-entity.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/media/media--type-image.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/carousel.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/featured-content.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-articles.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-events_paragraph.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-paragraphs-webform.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa-paragraphs_text.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa_paragraphs.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa_paragraphs_accordion.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/paragraphs/uiowa_paragraphs_image_gallery.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/sitenow.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/view-display-id-block_articles_archive.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/view-display-id-page_articles.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/view-display-id-people.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/view-taxonomy-term.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/views/views.scss
  docroot/themes/custom/uids_base/scss/components/sitenow/webforms/webforms.scss
  docroot/themes/custom/uids_base/templates/block/block--inline-block--uiowa-card.html.twig
  docroot/themes/custom/uids_base/templates/content/media.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--article--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--page--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--page--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--full.html.twig
  docroot/themes/custom/uids_base/templates/content/node--person--teaser.html.twig
  docroot/themes/custom/uids_base/templates/content/node--teaser.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-card-title.html.twig
  docroot/themes/custom/uids_base/templates/field/paragraphs/field--paragraph--field-uip-title.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/articles/paragraph--articles--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/card/paragraph--card--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/carousel/paragraph--carousel--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--events--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--featured-content--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--image-gallery--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--section--default.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--webform--default.html.twig
  docroot/themes/custom/uids_base/templates/uids/card.html.twig
  docroot/themes/custom/uids_base/templates/views/views-view.html.twig
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
  yarn.lock
Labels: brand.uiowa.edu, sitenow profile, theming, uids_base

#1475 Feature: Nav config updates
  config/brand.uiowa.edu/user.role.webmaster.yml
  config/features/collegiate/core.entity_view_display.node.page.default.yml
  config/features/collegiate/user.role.webmaster.yml
  config/policy.clas.uiowa.edu/block.block.main_navigation__superfish__horizontal.yml
  config/policy.clas.uiowa.edu/block.block.main_navigation__superfish__toggle.yml
  config/policy.clas.uiowa.edu/config_split.config_split.policy_clas_uiowa_edu.yml
  config/policy.clas.uiowa.edu/user.role.webmaster.yml
  docroot/profiles/custom/sitenow/config/sync/config_ignore.settings.yml
Labels: brand.uiowa.edu, collegiate split, sitenow profile, uids_base

#1485 Initialize icsa-temp.uiowa.edu multisite on uiowa01
  box/config.yml
  config/icsa-temp.uiowa.edu/.gitkeep
  docroot/sites/icsa-temp.uiowa.edu/blt.yml
  docroot/sites/icsa-temp.uiowa.edu/default.local.drush.yml
  docroot/sites/icsa-temp.uiowa.edu/default.settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings/default.local.settings.php
  docroot/sites/icsa-temp.uiowa.edu/settings/includes.settings.php
  docroot/sites/sites.php
  drush/sites/icsa-temp.site.yml
Labels: provision, uiowa01

#1486 Added config_split settings for icsa-temp.uiowa.edu to config/icsa.uiowa.edu directory.
  config/icsa.uiowa.edu/config_split.config_split.icsa_uiowa_edu.yml
Labels: site split, uiowa01
