Repository uiowa/uiowa, pull requests merged in 2021-07, with the labels that each got.

#3731 Brand - pull out and add org permission
  config/brand.uiowa.edu/user.role.webmaster.yml
Labels: brand.uiowa.edu

#3732 Provision clas sites 07 01 2021
  box/config.yml
  config/asg.clas.uiowa.edu/.gitkeep
  config/iba.biology.uiowa.edu/.gitkeep
  docroot/sites/asg.clas.uiowa.edu/blt.yml
  docroot/sites/asg.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/asg.clas.uiowa.edu/default.settings.php
  docroot/sites/asg.clas.uiowa.edu/settings.php
  docroot/sites/asg.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/asg.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/iba.biology.uiowa.edu/blt.yml
  docroot/sites/iba.biology.uiowa.edu/default.local.drush.yml
  docroot/sites/iba.biology.uiowa.edu/default.settings.php
  docroot/sites/iba.biology.uiowa.edu/settings.php
  docroot/sites/iba.biology.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/iba.biology.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/biologyiba.site.yml
  drush/sites/clasasg.site.yml
Labels: clas

#3760 update and reconfigure entity_usage
  composer.json
  composer.lock
  config/default/entity_usage.settings.yml
Labels: joeing-rogue

#3790 Fix: Changed breakpoint for container top padding
  docroot/themes/custom/uids_base/scss/global.scss
Labels: bug

#3687 Update uiowa_auth and samlauth.
  blt/blt.yml
  composer.json
  composer.lock
  config/default/samlauth.authentication.yml
  config/default/views.view.samlauth_map.yml
Labels: config update, dependencies

#3789 AMCS - extended person type fields
  config/default/config_split.config_split.grad_person_extended.yml
  config/features/grad_person_extended/core.entity_form_display.node.person.default.yml
  config/features/grad_person_extended/field.field.node.person.field_pt_student_advisor.yml
  config/features/grad_person_extended/field.field.node.person.field_pt_student_cur_pos_inst.yml
  config/features/grad_person_extended/field.field.node.person.field_pt_student_cur_pos_title.yml
  config/features/grad_person_extended/field.field.node.person.field_pt_student_defense_date.yml
  config/features/grad_person_extended/field.field.node.person.pt_student_dissertation_title.yml
  config/features/grad_person_extended/field.storage.node.field_pt_student_advisor.yml
  config/features/grad_person_extended/field.storage.node.field_pt_student_cur_pos_inst.yml
  config/features/grad_person_extended/field.storage.node.field_pt_student_cur_pos_title.yml
  config/features/grad_person_extended/field.storage.node.field_pt_student_defense_date.yml
  config/features/grad_person_extended/field.storage.node.pt_student_dissertation_title.yml
  config/features/grad_person_extended/views.view.person_reference.yml
  config/immuno.grad.uiowa.edu/config_split.config_split.immuno_grad_uiowa_edu.yml
Labels: grad

#3815 Add research areas filter to people list block settings
  config/default/views.view.people_list_block.yml
  docroot/modules/custom/layout_builder_custom/src/Plugin/Display/ListBlock.php
Labels: enhancement

#3876 SPPA requester role
  config/sppa.uiowa.edu/administerusersbyrole.settings.yml
  config/sppa.uiowa.edu/config_split.config_split.sppa_uiowa_edu.yml
  config/sppa.uiowa.edu/system.action.user_add_role_action.requester.yml
  config/sppa.uiowa.edu/system.action.user_remove_role_action.requester.yml
  config/sppa.uiowa.edu/uiowa_auth.settings.yml
  config/sppa.uiowa.edu/user.role.requester.yml
Labels: grad

#3879 Added .htaccess redirect for www.(cs|math|stat).uiowa.edu/~ to homepage.divms.uiowa.edu/~.
  docroot/.htaccess
Labels: clas

#3886 Display config changes for person field updates
  config/default/config_split.config_split.grad_person_extended.yml
  config/features/grad_person_extended/core.entity_view_display.node.person.default.yml
  config/features/grad_person_extended/core.entity_view_display.node.person.teaser.yml
  config/features/thesis_defense/node.type.thesis_defense.yml
  config/grad.uiowa.edu/user.role.anonymous.yml
  config/grad.uiowa.edu/user.role.authenticated.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/sppa.uiowa.edu/uiowa_auth.settings.yml
  config/sppa.uiowa.edu/user.role.authenticated.yml
  config/sppa.uiowa.edu/user.role.editor.yml
  config/sppa.uiowa.edu/user.role.publisher.yml
  config/sppa.uiowa.edu/user.role.student.yml
  config/sppa.uiowa.edu/user.role.viewer.yml
  config/sppa.uiowa.edu/user.role.webmaster.yml
  config/sppa.uiowa.edu/views.view.opportunities.yml
Labels: grad
