Repository uiowa/uiowa, pull requests merged in 2021-01, with the labels that each got.

#2783 Fix webform breadcrumbs
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: joeing-rogue

#2787 Hotfix: GC program type access for non-Admins
  config/default/core.extension.yml
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.entity_form_display.fragment.program.default.yml
  config/grad.uiowa.edu/core.entity_view_display.fragment.program.default.yml
  config/grad.uiowa.edu/field.field.fragment.program.field_grad_degrees_offered.yml
  config/grad.uiowa.edu/field.field.fragment.program.field_grad_discipline.yml
  config/grad.uiowa.edu/field.field.fragment.program.field_program_conferred_by_grad.yml
  config/grad.uiowa.edu/field.field.fragment.program.field_program_homepage.yml
  config/grad.uiowa.edu/field.field.fragment.program.field_program_interdisciplinary.yml
  config/grad.uiowa.edu/field.storage.fragment.field_grad_degrees_offered.yml
  config/grad.uiowa.edu/field.storage.fragment.field_grad_discipline.yml
  config/grad.uiowa.edu/field.storage.fragment.field_program_conferred_by_grad.yml
  config/grad.uiowa.edu/field.storage.fragment.field_program_homepage.yml
  config/grad.uiowa.edu/field.storage.fragment.field_program_interdisciplinary.yml
  config/grad.uiowa.edu/fragments.fragment_type.program.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/grad.uiowa.edu/views.view.graduate_programs.yml
Labels: bug, config update, grad.uiowa.edu, site split

#2794 Fixed Grad Programs view and LB header layout issue
  composer.json
  composer.lock
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/node.type.scholarship.yml
  config/grad.uiowa.edu/views.view.graduate_programs.yml
  docroot/themes/custom/uids_base/templates/layouts/onecol--background/layout--onecol--background.html.twig
  docroot/themes/custom/uids_base/uids_base.theme
Labels: bug, dependencies, site split, theming, uids_base

#2803 Added command to fix xdebug log error to post provision script.
  README.md
  box/post-provision.sh
Labels: automation

#2821 Made some adjustments to the grad programs view.
  config/grad.uiowa.edu/views.view.graduate_programs.yml
Labels: bug, grad.uiowa.edu

#2829 Fix config_ignore setting value
  config/default/config_ignore.settings.yml
Labels: config update

#2835 Config ignore fix
  config/default/config_ignore.settings.yml
  config/hr.uiowa.edu/config_ignore.settings.yml
  docroot/profiles/custom/sitenow/sitenow.install
Labels: config update, hr.uiowa.edu, site split

#2844 Set destination param on login link
  composer.lock
  docroot/themes/custom/uids_base/uids_base.theme
Labels: joeing-rogue

#2874 Hotfix: Update default setting for featured image display field.
  config/default/field.field.node.article.field_featured_image_display.yml
  config/default/field.field.node.page.field_featured_image_display.yml
Labels: bug

#2872 Grad College and usability updates
  composer.lock
  config/grad.uiowa.edu/core.entity_form_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_form_display.node.person.minimal.yml
  config/grad.uiowa.edu/core.entity_form_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/grad.uiowa.edu/core.entity_view_display.node.scholarship.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.teaser.yml
  config/grad.uiowa.edu/field.field.node.person.field_grad_program_all_degree.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_grad_program_phd.yml
  config/grad.uiowa.edu/field.storage.node.field_grad_program_all_degree.yml
  config/grad.uiowa.edu/field.storage.node.field_grad_program_phd.yml
  config/grad.uiowa.edu/sitenow_people.person_type.mentor.yml
  config/grad.uiowa.edu/views.view.graduate_programs.yml
  docroot/modules/custom/grad_custom/grad_custom.module
  docroot/modules/custom/uiowa_core/uiowa_core.links.menu.yml
  docroot/themes/custom/uids_base/templates/field/field--node--title--scholarship--default.html.twig
Labels: grad.uiowa.edu

#2884 Webform database update/update 6.0.0
  composer.json
  composer.lock
  config/default/webform.settings.yml
Labels: config update

#2876 Grad College Thesis Defense Views
  composer.json
  composer.lock
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.thesis_defense.teaser.yml
  config/grad.uiowa.edu/fullcalendar.settings.yml
  config/grad.uiowa.edu/fullcalendar_options.settings.yml
  config/grad.uiowa.edu/pathauto.pattern.thesis_defense.yml
  config/grad.uiowa.edu/smart_date.smart_date_format.full.yml
  config/grad.uiowa.edu/views.view.thesis_defenses.yml
  docroot/modules/custom/grad_custom/grad_custom.module
  docroot/modules/custom/grad_custom/templates/node--thesis-defense--teaser.html.twig
  docroot/sites/grad.uiowa.edu/modules/grad_core/grad_core.module
  docroot/sites/grad.uiowa.edu/modules/grad_core/templates/field--node--field-thesis-defense-date.html.twig
  docroot/themes/custom/uids_base/scss/views/view-calendar.scss
  docroot/themes/custom/uids_base/scss/views/views.scss
Labels: grad.uiowa.edu

#2903 Feature: Grad student profile
  config/grad.uiowa.edu/config_split.config_split.site_grad_uiowa_edu.yml
  config/grad.uiowa.edu/core.base_field_override.node.student_profile.promote.yml
  config/grad.uiowa.edu/core.entity_form_display.node.student_profile.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.student_profile.default.yml
  config/grad.uiowa.edu/core.entity_view_display.node.student_profile.teaser.yml
  config/grad.uiowa.edu/field.field.node.student_profile.body.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_grad_program_all_degree.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_image.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_person_first_name.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_person_hometown.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_person_last_name.yml
  config/grad.uiowa.edu/field.field.node.student_profile.field_person_quote.yml
  config/grad.uiowa.edu/field.storage.node.field_person_quote.yml
  config/grad.uiowa.edu/metatag.metatag_defaults.node__student_profile.yml
  config/grad.uiowa.edu/node.type.student_profile.yml
  config/grad.uiowa.edu/pathauto.pattern.student_profiles.yml
  config/grad.uiowa.edu/user.role.editor.yml
  config/grad.uiowa.edu/user.role.webmaster.yml
  config/grad.uiowa.edu/views.view.student_profile_card.yml
  docroot/modules/custom/grad_custom/grad_student_profile/grad_student_profile.info.yml
  docroot/modules/custom/grad_custom/grad_student_profile/grad_student_profile.module
  docroot/modules/custom/grad_custom/grad_student_profile/templates/field--node--field-person-quote.html.twig
  docroot/modules/custom/grad_custom/grad_student_profile/templates/views-view-unformatted--student-profile-card.html.twig
  docroot/themes/custom/uids_base/scss/components/blockquote.scss
  docroot/themes/custom/uids_base/templates/field/field--node--title--student-profile--default.html.twig
Labels: grad.uiowa.edu

#2527 Graduate College migrations
  config/features/sitenow_migrate/migrate_plus.migration.d7_page.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_person_first_name.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_person_last_name.yml
  config/grad.uiowa.edu/field.field.node.thesis_defense.field_thesis_defense_date.yml
  docroot/modules/custom/grad_custom/grad_custom.module
  docroot/modules/custom/grad_custom/grad_migrate/config/split/.htaccess
  docroot/modules/custom/grad_custom/grad_migrate/config/split/config_split.config_split.grad_migrate.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_article.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_srop_mentor.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_srop_scholar.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_thesis_defense.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_thesis_defense_redirect.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration_group.sitenow_migrate.yml
  docroot/modules/custom/grad_custom/grad_migrate/grad_migrate.info.yml
  docroot/modules/custom/grad_custom/grad_migrate/grad_migrate.install
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Article.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Mentor.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/ProcessGradMediaTrait.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Scholar.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/ThesisDefense.php
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/MigratePreRollbackEvent.php
  docroot/modules/custom/sitenow_migrate/src/EventSubscriber/PostRowSaveEvent.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/process/SkipOnNotEmpty.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Articles.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/BaseNodeSource.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/Pages.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/People.php
  docroot/modules/custom/sitenow_migrate/src/Plugin/migrate/source/ProcessMediaTrait.php
  docroot/sites/grad.uiowa.edu/modules/grad_core/grad_core.module
Labels: content migration, feature split, grad.uiowa.edu, sprint-44

#2937 Provision 2 more CLAS sites
  box/config.yml
  config/environmentalsciences.uiowa.edu/.gitkeep
  config/nrcfcp.uiowa.edu/.gitkeep
  docroot/sites/environmentalsciences.uiowa.edu/blt.yml
  docroot/sites/environmentalsciences.uiowa.edu/default.local.drush.yml
  docroot/sites/environmentalsciences.uiowa.edu/default.settings.php
  docroot/sites/environmentalsciences.uiowa.edu/settings.php
  docroot/sites/environmentalsciences.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/environmentalsciences.uiowa.edu/settings/default.local.settings.php
  docroot/sites/nrcfcp.uiowa.edu/blt.yml
  docroot/sites/nrcfcp.uiowa.edu/default.local.drush.yml
  docroot/sites/nrcfcp.uiowa.edu/default.settings.php
  docroot/sites/nrcfcp.uiowa.edu/settings.php
  docroot/sites/nrcfcp.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/nrcfcp.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/environmentalsciences.site.yml
  drush/sites/nrcfcp.site.yml
Labels: provision

#2930 Started adding area of study lb layout
  config/admissions.uiowa.edu/core.entity_view_display.node.area_of_study.default.yml
Labels: WIP

#2911 Grad migration follow-up
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_article_redirect.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_srop_mentor_redirect.yml
  docroot/modules/custom/grad_custom/grad_migrate/config/split/migrate_plus.migration.d7_grad_srop_scholar_redirect.yml
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Article.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Mentor.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/ProcessGradMediaTrait.php
  docroot/modules/custom/grad_custom/grad_migrate/src/Plugin/migrate/source/Scholar.php
Labels: grad.uiowa.edu

#2959 Upated grad programs view to not trim the length of homepage URL.
  config/grad.uiowa.edu/views.view.graduate_programs.yml
Labels: bug, grad.uiowa.edu

#2954 Template consolidation and coding standards
  docroot/modules/custom/grad_custom/grad_student_profile/grad_student_profile.module
  docroot/modules/custom/layout_builder_custom/src/EventSubscriber/SectionComponentSubscriber.php
  docroot/modules/custom/sitenow_seo/sitenow_seo.module
  docroot/profiles/custom/sitenow/sitenow.install
  docroot/profiles/custom/sitenow/sitenow.profile
  docroot/themes/custom/uids_base/templates/field/field--field-person-research-areas.html.twig
  docroot/themes/custom/uids_base/templates/field/field--unordered-list.html.twig
Labels: joeing-rogue

#2952 Removed AoS requirements field and convert Areas of Study block to plugin class
  config/admissions.uiowa.edu/config_split.config_split.admissions.yml
  config/admissions.uiowa.edu/core.entity_form_display.node.area_of_study.default.yml
  config/admissions.uiowa.edu/core.entity_view_display.node.area_of_study.default.yml
  config/admissions.uiowa.edu/core.entity_view_display.node.area_of_study.teaser.yml
  config/admissions.uiowa.edu/core.entity_view_display.node.page.default.yml
  config/admissions.uiowa.edu/field.field.node.area_of_study.field_area_of_study_ref_ar.yml
  config/admissions.uiowa.edu/field.storage.node.field_area_of_study_ref_ar.yml
  docroot/modules/custom/uiowa_area_of_study/src/Plugin/Block/AreasOfStudySearchBlock.php
Labels: admissions.uiowa.edu

#2981 Updates to Grad College site
  config/grad.uiowa.edu/core.entity_view_display.node.scholarship.default.yml
  docroot/modules/custom/grad_custom/grad_custom.module
Labels: grad.uiowa.edu
