Repository uiowa/uiowa, pull requests merged in 2021-11, with the labels that each got.

#4366 Fix menu redirect to direct users to current menu instead of menu list
  composer.json
  composer.lock
Labels: bug, gone rogue

#4400 Update logo-footer.twig
  docroot/themes/custom/uids_base/templates/uids/logo-footer.twig
Labels: a11y, gone rogue

#4407 media video/remote video fix appending to classes array
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
Labels: bug

#4414 Initialize frg.physics.uiowa.edu multisite on uiowa01
  box/config.yml
  docroot/sites/frg.physics.uiowa.edu/blt.yml
  docroot/sites/frg.physics.uiowa.edu/default.local.drush.yml
  docroot/sites/frg.physics.uiowa.edu/default.settings.php
  docroot/sites/frg.physics.uiowa.edu/settings.php
  docroot/sites/frg.physics.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/frg.physics.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/physicsfrg.site.yml
Labels: clas

#4371 Neuroscience article migration
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/config/split/.htaccess
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/config/split/config_split.config_split.gradneuroscience_migrate.yml
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/config/split/migrate_drupal.settings.yml
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/config/split/migrate_plus.migration.gradneuroscience_articles.yml
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/config/split/migrate_plus.migration.gradneuroscience_articles_redirects.yml
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/gradneuroscience_migrate.info.yml
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/gradneuroscience_migrate.install
  docroot/sites/neuroscience.grad.uiowa.edu/modules/gradneuroscience_migrate/src/Plugin/migrate/source/Articles.php
Labels: grad

#4425 Preparations for CS2 changes
  config/default/config_split.config_split.event.yml
  config/default/config_split.config_split.grad_person_extended.yml
  config/default/config_split.config_split.scholarship.yml
  config/default/config_split.config_split.sitenow_v2.yml
  config/default/config_split.config_split.topic_page.yml
  config/features/event/core.entity_form_display.node.event.default.yml
  config/sites/admissions.uiowa.edu/config_split.config_split.site.yml
  config/sites/grad.uiowa.edu/config_split.config_split.site.yml
  config/sites/hr.uiowa.edu/config_split.config_split.site.yml
  config/sites/icsa.uiowa.edu/config_split.config_split.site.yml
  config/sites/ighn.international.uiowa.edu/config_split.config_split.site.yml
  config/sites/immuno.grad.uiowa.edu/config_split.config_split.site.yml
  config/sites/iowasuperfund.uiowa.edu/config_split.config_split.site.yml
  config/sites/pharmacy.uiowa.edu/config_split.config_split.site.yml
  config/sites/policy.clas.uiowa.edu/config_split.config_split.site.yml
  config/sites/sitenow.uiowa.edu/config_split.config_split.site.yml
  config/sites/uiowa.edu/config_split.config_split.site.yml
Labels: config update, site split, feature split

#4428 Re-exported `grad_person_extended` split after re-saving displays
  config/features/grad_person_extended/core.entity_form_display.node.person.minimal.yml
  config/features/grad_person_extended/core.entity_view_display.node.person.teaser.yml
  config/features/grad_person_extended/core.entity_view_display.node.person.token.yml
Labels: config update, feature split

#4437 Enable webform for region items.
  config/default/core.entity_view_display.fragment.region_item.default.yml
  docroot/themes/custom/uids_base/scss/components/form/forms.scss
Labels: enhancement

#4412 Added a new custom text field for button for listblock
  docroot/modules/custom/layout_builder_custom/src/Plugin/Display/ListBlock.php
  docroot/profiles/custom/sitenow/sitenow.install
Labels: layout builder

#4376 View updates for Grad sites
  config/sites/amcs.uiowa.edu/views.view.custom_people.yml
  config/sites/neuroscience.grad.uiowa.edu/.htaccess
  config/sites/neuroscience.grad.uiowa.edu/config_split.config_split.site.yml
  config/sites/neuroscience.grad.uiowa.edu/views.view.person_custom.yml
Labels: grad

#4484 Initialize grantsupport.clas.uiowa.edu multisite on uiowa01
  box/config.yml
  docroot/sites/grantsupport.clas.uiowa.edu/blt.yml
  docroot/sites/grantsupport.clas.uiowa.edu/default.local.drush.yml
  docroot/sites/grantsupport.clas.uiowa.edu/default.settings.php
  docroot/sites/grantsupport.clas.uiowa.edu/settings.php
  docroot/sites/grantsupport.clas.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/grantsupport.clas.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/clasgrantsupport.site.yml
Labels: clas
