Repository uiowa/uiowa, pull requests merged in 2021-09, with the labels that each got.

#4154 AMCS custom people views
  config/sites/amcs.uiowa.edu/.htaccess
  config/sites/amcs.uiowa.edu/config_split.config_split.site.yml
  config/sites/amcs.uiowa.edu/views.view.custom_people.yml
Labels: grad, site split

#4172 AMCS - Little fix for sorting on faculty listing.
  config/sites/amcs.uiowa.edu/views.view.custom_people.yml
Labels: grad

#4148 SLIS article migration
  docroot/modules/custom/sitenow_migrate/sitenow_migrate.install
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/config/split/.htaccess
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/config/split/config_split.config_split.slis_migrate.yml
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/config/split/migrate_drupal.settings.yml
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/config/split/migrate_plus.migration.slis_articles.yml
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/config/split/migrate_plus.migration.slis_articles_redirects.yml
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/slis_migrate.info.yml
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/slis_migrate.install
  docroot/sites/slis.uiowa.edu/modules/slis_migrate/src/Plugin/migrate/source/Articles.php
Labels: grad, content migration

#4199 Genetics/Immunology/SPPA - Site customization updates
  config/sites/genetics.grad.uiowa.edu/views.view.person_custom.yml
  config/sites/immuno.grad.uiowa.edu/views.view.person_custom.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.article.teaser.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.article.token.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.opportunity.teaser.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.page.teaser.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.page.token.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.person.teaser.yml
  config/sites/sppa.uiowa.edu/core.entity_view_display.node.person.token.yml
Labels: grad
