Repository uiowa/uiowa, pull requests merged in 2022-05, with the labels that each got.

#5204 Pharmacy palliative tweaks
  config/sites/pharmacy.uiowa.edu/views.view.palliative_grad.yml
  docroot/sites/pharmacy.uiowa.edu/modules/pharmacy_core/es6/palliative-grad-map.es6
  docroot/sites/pharmacy.uiowa.edu/modules/pharmacy_core/sass/palliative-grad-list.scss
  docroot/sites/pharmacy.uiowa.edu/modules/pharmacy_core/sass/palliative-grad-map.scss
Labels: pharmacy.uiowa.edu

#5197 Render profile metatags server-side so robots see them consistently.
  docroot/modules/custom/uiowa_profiles/src/Client.php
  docroot/modules/custom/uiowa_profiles/src/Controller/DirectoryController.php
  docroot/modules/custom/uiowa_profiles/src/Controller/SitemapController.php
  docroot/modules/custom/uiowa_profiles/uiowa_profiles.module
  docroot/modules/custom/uiowa_profiles/uiowa_profiles.services.yml
Labels: requires cache rebuild

#5230 Remove duplicate profiles `<title>` element.
  docroot/modules/custom/uiowa_profiles/src/Controller/DirectoryController.php
  docroot/modules/custom/uiowa_profiles/templates/html--profiles.html.twig
  docroot/modules/custom/uiowa_profiles/uiowa_profiles.module
Labels: dentistry.uiowa.edu, education.uiowa.edu, gone rogue, uiowa_profiles

#5242 UI Press - Moved subtitle to be visible in node form
  config/sites/uipress.uiowa.edu/core.entity_form_display.node.book.default.yml
Labels: grad, site split

#5233 Create initial uiowa_profiles test suite to cover meta tags functionality.
  docroot/modules/custom/uiowa_profiles/config/schema/uiowa_profiles.schema.yml
  docroot/modules/custom/uiowa_profiles/src/Controller/DirectoryController.php
  docroot/modules/custom/uiowa_profiles/tests/modules/uiowa_profiles_mock/src/ClientMock.php
  docroot/modules/custom/uiowa_profiles/tests/modules/uiowa_profiles_mock/uiowa_profiles_mock.info.yml
  docroot/modules/custom/uiowa_profiles/tests/modules/uiowa_profiles_mock/uiowa_profiles_mock.services.yml
  docroot/modules/custom/uiowa_profiles/tests/src/Functional/ControllerTest.php
  phpunit.xml.dist
Labels: dentistry.uiowa.edu, education.uiowa.edu, gone rogue, needs test, uiowa_profiles

#1976 Add P2LB module and feature split
  config/default/config_ignore.settings.yml
  config/default/config_split.config_split.p2lb.yml
  config/features/p2lb/.htaccess
  config/features/p2lb/config_split.patch.core.entity_form_display.node.page.default.yml
  config/features/p2lb/config_split.patch.core.entity_view_display.node.page.teaser.yml
  config/features/p2lb/config_split.patch.core.entity_view_display.node.page.token.yml
  config/features/p2lb/core.entity_view_display.node.page.default.yml
  config/features/p2lb/field.field.node.page.field_v3_conversion_revision_id.yml
  config/features/p2lb/field.storage.node.field_v3_conversion_revision_id.yml
  config/features/p2lb/system.action.sitenow_p2lb_convert.yml
  config/features/p2lb/views.view.content_v3_converter.yml
  config/features/sitenow_v2/config_split.patch.lazy.settings.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.info.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.links.menu.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.permissions.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.routing.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.services.yml
  docroot/modules/custom/sitenow_p2lb/src/Form/P2LbSettingsForm.php
  docroot/modules/custom/sitenow_p2lb/src/Plugin/Action/ConvertParagraphsToLayoutBuilder.php
Labels: automation

#5272 Create site split for environmentalsciences.uiowa.edu.
  config/sites/environmentalsciences.uiowa.edu/.htaccess
  config/sites/environmentalsciences.uiowa.edu/config_split.config_split.site.yml
  config/sites/environmentalsciences.uiowa.edu/sitenow_people.person_type.advisory_committee_member.yml
  config/sites/environmentalsciences.uiowa.edu/sitenow_people.person_type.affiliated_faculty.yml
  config/sites/environmentalsciences.uiowa.edu/sitenow_people.person_type.director.yml
Labels: clas, site split

#5296 Delete iba.biology.uiowa.edu multisite on uiowa01
  docroot/sites/iba.biology.uiowa.edu/blt.yml
  docroot/sites/iba.biology.uiowa.edu/default.local.drush.yml
  docroot/sites/iba.biology.uiowa.edu/default.settings.php
  docroot/sites/iba.biology.uiowa.edu/settings.php
  docroot/sites/iba.biology.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/iba.biology.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/biologyiba.site.yml
Labels: clas, deprovision

#5295 Delete humanities.uiowa.edu multisite on uiowa01
  docroot/sites/humanities.uiowa.edu/blt.yml
  docroot/sites/humanities.uiowa.edu/default.local.drush.yml
  docroot/sites/humanities.uiowa.edu/default.settings.php
  docroot/sites/humanities.uiowa.edu/settings.php
  docroot/sites/humanities.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/humanities.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  drush/sites/humanities.site.yml
Labels: clas, deprovision

#5305 Move uiowa_auth out again
  composer.json
  composer.lock
  docroot/modules/custom/uiowa_auth/README.md
  docroot/modules/custom/uiowa_auth/config/install/uiowa_auth.settings.yml
  docroot/modules/custom/uiowa_auth/config/schema/uiowa_auth.schema.yml
  docroot/modules/custom/uiowa_auth/src/ConfigOverride/SamlauthOverride.php
  docroot/modules/custom/uiowa_auth/src/Controller/LegacyLoginController.php
  docroot/modules/custom/uiowa_auth/src/EventSubscriber/ExternalAuthSubscriber.php
  docroot/modules/custom/uiowa_auth/src/EventSubscriber/RouteSubscriber.php
  docroot/modules/custom/uiowa_auth/src/EventSubscriber/SamlauthSubscriber.php
  docroot/modules/custom/uiowa_auth/src/Form/HawkIDSettingsForm.php
  docroot/modules/custom/uiowa_auth/src/RoleMappings.php
  docroot/modules/custom/uiowa_auth/src/UserLoginBlockPreRender.php
  docroot/modules/custom/uiowa_auth/tests/src/Kernel/ExternalauthSubscriberTest.php
  docroot/modules/custom/uiowa_auth/tests/src/Kernel/HawkIDSettingsFormTest.php
  docroot/modules/custom/uiowa_auth/tests/src/Kernel/SamlauthSubscriberTest.php
  docroot/modules/custom/uiowa_auth/tests/src/Unit/RoleMappingsTest.php
  docroot/modules/custom/uiowa_auth/uiowa_auth.info.yml
  docroot/modules/custom/uiowa_auth/uiowa_auth.install
  docroot/modules/custom/uiowa_auth/uiowa_auth.links.menu.yml
  docroot/modules/custom/uiowa_auth/uiowa_auth.module
  docroot/modules/custom/uiowa_auth/uiowa_auth.permissions.yml
  docroot/modules/custom/uiowa_auth/uiowa_auth.routing.yml
  docroot/modules/custom/uiowa_auth/uiowa_auth.services.yml
  docroot/profiles/custom/sitenow/sitenow.install
  phpunit.xml.dist
Labels: requires cache rebuild
