Repository uiowa/uiowa, pull requests merged in 2023-06, with the labels that each got.

#6502 Untangling Events and Admissions config
  config/default/config_split.config_split.event.yml
  config/features/event/views.view.events.yml
  config/sites/admissions.uiowa.edu/config_split.config_split.site.yml
  config/sites/admissions.uiowa.edu/config_split.patch.views.view.events.yml
  config/sites/admissions.uiowa.edu/core.entity_view_display.node.event.default.yml
  config/sites/admissions.uiowa.edu/views.view.areas_of_study.yml
  config/sites/admissions.uiowa.edu/views.view.events.yml
  config/sites/housing.uiowa.edu/views.view.residence_halls.yml
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.libraries.yml
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/admissions_core.module
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/sass/area-of-study.scss
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/sass/events.scss
  docroot/sites/housing.uiowa.edu/modules/housing_core/sass/global.scss
  docroot/themes/custom/uids_base/scss/admin.scss
  docroot/themes/custom/uids_base/scss/admin/_local-tasks.scss
  docroot/themes/custom/uids_base/scss/components/menus/local-tasks.scss
  docroot/themes/custom/uids_base/scss/views/view-bef.scss
  docroot/themes/custom/uids_base/scss/views/views.scss
  docroot/themes/custom/uids_base/uids_base.libraries.yml
  docroot/themes/custom/uids_base/uids_base.theme
Labels: site split, admissions.uiowa.edu, feature split, DX, Just do it

#6534 Update nvm config to use node version 16
  .nvmrc
Labels: dependencies, Just do it

#6539 Update linkit to most recent compatible version
  composer.json
  composer.lock
Labels: dependencies

#6515 update media_thumbnails_video
  README.md
  composer.json
  composer.lock
Labels: dependencies

#6544 Update Admissions contact info on grad.admissions.uiowa.edu
  docroot/sites/grad.admissions.uiowa.edu/modules/grad_admissions_core/grad_admissions_core.install
Labels: database update, grad.admissions.uiowa.edu

#6533 Upgrade node_revision_delete
  composer.json
  composer.lock
  config/default/node.type.article.yml
  config/default/node.type.page.yml
  config/default/node.type.person.yml
  config/default/node_revision_delete.settings.yml
  config/features/areas_of_study/node.type.area_of_study.yml
  config/features/event/node.type.event.yml
  config/features/periodical/node.type.publication_issue.yml
  config/features/scholarship/node.type.scholarship.yml
  config/features/topic_page/node.type.topic_collection.yml
  config/sites/admissions.uiowa.edu/node.type.area_of_study.yml
  config/sites/admissions.uiowa.edu/node.type.event_series.yml
  config/sites/admissions.uiowa.edu/node.type.major.yml
  config/sites/admissions.uiowa.edu/node.type.student_profile.yml
  config/sites/admissions.uiowa.edu/node.type.transfer_tips.yml
  config/sites/brand.uiowa.edu/node.type.lockup.yml
  config/sites/classrooms.uiowa.edu/node.type.room.yml
  config/sites/facilities.uiowa.edu/node.type.building.yml
  config/sites/facilities.uiowa.edu/node.type.named_building.yml
  config/sites/facilities.uiowa.edu/node.type.project.yml
  config/sites/grad.admissions.uiowa.edu/node.type.area_of_study.yml
  config/sites/grad.admissions.uiowa.edu/node.type.costs_estimate.yml
  config/sites/grad.uiowa.edu/node.type.mentor.yml
  config/sites/grad.uiowa.edu/node.type.scholar.yml
  config/sites/housing.uiowa.edu/node.type.residence_hall.yml
  config/sites/hr.uiowa.edu/node.type.faq.yml
  config/sites/iisc.uiowa.edu/node.type.partner.yml
  config/sites/iisc.uiowa.edu/node.type.project.yml
  config/sites/now.uiowa.edu/node.type.contact.yml
  config/sites/sppa.uiowa.edu/node.type.opportunity.yml
  config/sites/uipress.uiowa.edu/node.type.book.yml
  docroot/profiles/custom/sitenow/sitenow.profile
Labels: dependencies, database update, config update
