Repository uiowa/uiowa, pull requests merged in 2023-08, with the labels that each got.

#6721 [p2lb] Map tag filters for list blocks
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
Labels: P2LB

#6734 P2LB - Convert carousels to image galleries
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
Labels: P2LB

#6713 P2LB - V2 Card Cases
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/modules/custom/sitenow_p2lb/src/Form/P2LbSettingsForm.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbHelper.php
Labels: P2LB

#6732 Collection Item Unique ID with p2lb support
  config/default/core.entity_form_display.paragraph.uiowa_collection_item.default.yml
  config/default/core.entity_view_display.paragraph.uiowa_collection_item.accordion.yml
  config/default/core.entity_view_display.paragraph.uiowa_collection_item.default.yml
  config/default/core.entity_view_display.paragraph.uiowa_collection_item.descriptive_list.yml
  config/default/core.entity_view_display.paragraph.uiowa_collection_item.tab.yml
  config/default/field.field.paragraph.uiowa_collection_item.field_unique_id.yml
  config/default/field.storage.paragraph.field_unique_id.yml
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-collection-item--accordion.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/paragraph--uiowa-collection-item--descriptive-list.html.twig
  docroot/themes/custom/uids_base/templates/paragraphs/timeline/paragraph--uiowa-collection-item--tabs.html.twig
Labels: P2LB

#6708 P2LB reporting tool
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.links.task.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.routing.yml
  docroot/modules/custom/sitenow_p2lb/src/Controller/P2LbController.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbHelper.php
Labels: P2LB

#6743 Hotfix: Added tabledrag patch
  composer.json
  composer.lock
Labels: Just do it

#6718 [ P2LB ] V2 Revert action
  config/default/config_split.config_split.p2lb.yml
  config/features/p2lb/config_split.patch.views.view.content.yml
  config/features/p2lb/system.action.sitenow_p2lb_convert.yml
  config/features/p2lb/system.action.sitenow_p2lb_revert.yml
  config/features/p2lb/views.view.content_v3_converter.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/modules/custom/sitenow_p2lb/src/Controller/P2LbController.php
  docroot/modules/custom/sitenow_p2lb/src/Form/P2LbSettingsForm.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbHelper.php
  docroot/modules/custom/sitenow_p2lb/src/Plugin/Action/RevertToParagraphs.php
Labels: P2LB

#6784 Drush command to get GTM container IDs
  drush/Commands/UiowaCommands.php
Labels: priority

#6774 Sprint 175 provisions and deprovisions
  docroot/sites/catering.uiowa.edu/blt.yml
  docroot/sites/catering.uiowa.edu/default.local.drush.yml
  docroot/sites/catering.uiowa.edu/default.settings.php
  docroot/sites/catering.uiowa.edu/settings.php
  docroot/sites/catering.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/catering.uiowa.edu/settings/default.local.settings.php
  docroot/sites/dining.uiowa.edu/blt.yml
  docroot/sites/dining.uiowa.edu/default.local.drush.yml
  docroot/sites/dining.uiowa.edu/default.settings.php
  docroot/sites/dining.uiowa.edu/settings.php
  docroot/sites/dining.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/dining.uiowa.edu/settings/default.local.settings.php
  docroot/sites/epsm.lab.uiowa.edu/blt.yml
  docroot/sites/epsm.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/epsm.lab.uiowa.edu/default.settings.php
  docroot/sites/epsm.lab.uiowa.edu/settings.php
  docroot/sites/epsm.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/epsm.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/hydrogeology.lab.uiowa.edu/blt.yml
  docroot/sites/hydrogeology.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/hydrogeology.lab.uiowa.edu/default.settings.php
  docroot/sites/hydrogeology.lab.uiowa.edu/settings.php
  docroot/sites/hydrogeology.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/hydrogeology.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/mac.lab.uiowa.edu/blt.yml
  docroot/sites/mac.lab.uiowa.edu/default.local.drush.yml
  docroot/sites/mac.lab.uiowa.edu/default.settings.php
  docroot/sites/mac.lab.uiowa.edu/settings.php
  docroot/sites/mac.lab.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/mac.lab.uiowa.edu/settings/default.local.settings.php
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/blt.yml
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/default.local.drush.yml
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/default.settings.php
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/settings.php
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/ophthalmologyinterestgroup.org.uiowa.edu/settings/default.local.settings.php
  docroot/sites/pgsrm2024.conference.uiowa.edu/blt.yml
  docroot/sites/pgsrm2024.conference.uiowa.edu/default.local.drush.yml
  docroot/sites/pgsrm2024.conference.uiowa.edu/default.settings.php
  docroot/sites/pgsrm2024.conference.uiowa.edu/settings.php
  docroot/sites/pgsrm2024.conference.uiowa.edu/settings/default.includes.settings.php
  docroot/sites/pgsrm2024.conference.uiowa.edu/settings/default.local.settings.php
  docroot/sites/sites.php
  docroot/sites/speakingcenter.uiowa.edu/blt.yml
  drush/sites/catering.site.yml
  drush/sites/conferencepgsrm2024.site.yml
  drush/sites/dining.site.yml
  drush/sites/labepsm.site.yml
  drush/sites/labhydrogeology.site.yml
  drush/sites/labmac.site.yml
  drush/sites/orgophthalmologyinterestgroup.site.yml
  drush/sites/speakingcenter.site.yml
Labels: deprovision

#6794 Fixes featured content headline bug
  docroot/modules/custom/layout_builder_custom/layout_builder_custom.module
Labels: Just do it

#6801 ITS - Site Split and Service Content Type
  config/README.md
  config/sites/its.uiowa.edu/.htaccess
  config/sites/its.uiowa.edu/config_split.config_split.site.yml
  config/sites/its.uiowa.edu/config_split.patch.metatag.settings.yml
  config/sites/its.uiowa.edu/config_split.patch.user.role.editor.yml
  config/sites/its.uiowa.edu/config_split.patch.user.role.publisher.yml
  config/sites/its.uiowa.edu/config_split.patch.user.role.viewer.yml
  config/sites/its.uiowa.edu/config_split.patch.user.role.webmaster.yml
  config/sites/its.uiowa.edu/config_split.patch.workflows.workflow.editorial.yml
  config/sites/its.uiowa.edu/core.base_field_override.node.service.promote.yml
  config/sites/its.uiowa.edu/core.entity_form_display.node.service.default.yml
  config/sites/its.uiowa.edu/core.entity_view_display.node.service.default.yml
  config/sites/its.uiowa.edu/core.entity_view_display.node.service.teaser.yml
  config/sites/its.uiowa.edu/field.field.node.service.body.yml
  config/sites/its.uiowa.edu/field.field.node.service.field_meta_tags.yml
  config/sites/its.uiowa.edu/metatag.metatag_defaults.node__service.yml
  config/sites/its.uiowa.edu/node.type.service.yml
  config/sites/its.uiowa.edu/pathauto.pattern.service.yml
  config/sites/its.uiowa.edu/rabbit_hole.behavior_settings.node_type_service.yml
  config/sites/its.uiowa.edu/schemadotorg.schemadotorg_mapping.node.service.yml
  config/sites/its.uiowa.edu/simple_sitemap.bundle_settings.default.node.service.yml
Labels: its.uiowa.edu

#6799 P2lb Conversion Status column
  config/features/p2lb/views.view.content_v3_converter.yml
  docroot/modules/custom/sitenow_p2lb/css/sitenow_p2lb.overrides.css
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.libraries.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
Labels: P2LB, Just do it

#6809 P2LB updates for Staff Council site
  config/default/config_split.config_split.p2lb.yml
  config/default/core.entity_view_display.node.page.default.yml
  config/features/p2lb/config_split.patch.user.role.editor.yml
  config/features/p2lb/config_split.patch.user.role.webmaster.yml
  config/features/p2lb/core.entity_view_display.node.page.default.yml
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.module
  docroot/modules/custom/sitenow_p2lb/sitenow_p2lb.services.yml
  docroot/modules/custom/sitenow_p2lb/src/Controller/P2LbController.php
  docroot/modules/custom/sitenow_p2lb/src/Form/P2LbSettingsForm.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbConverter.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbConverterManager.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbConverterManagerInterface.php
  docroot/modules/custom/sitenow_p2lb/src/P2LbHelper.php
  docroot/modules/custom/sitenow_p2lb/src/Plugin/Action/ConvertParagraphsToLayoutBuilder.php
Labels: P2LB

#6781 [Facilities] Structured titles for alerts
  config/features/sitenow_alerts/core.entity_form_display.node.alert.default.yml
  config/features/sitenow_alerts/node.type.alert.yml
  config/sites/facilities.uiowa.edu/config_split.config_split.site.yml
  config/sites/facilities.uiowa.edu/config_split.patch.core.entity_form_display.node.alert.default.yml
  config/sites/facilities.uiowa.edu/config_split.patch.core.entity_view_display.node.alert.teaser.yml
  config/sites/facilities.uiowa.edu/config_split.patch.field.field.node.alert.body.yml
  config/sites/facilities.uiowa.edu/config_split.patch.schemadotorg.schemadotorg_mapping.node.alert.yml
  config/sites/facilities.uiowa.edu/core.entity_view_display.node.alert.default.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_buildings_locations.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_location.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_override_building.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_project_number.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_reason_for_closure.yml
  config/sites/facilities.uiowa.edu/field.field.node.alert.field_alert_short_work_desc.yml
  config/sites/facilities.uiowa.edu/field.storage.node.field_alert_buildings_locations.yml
  config/sites/facilities.uiowa.edu/field.storage.node.field_alert_override_building.yml
  config/sites/facilities.uiowa.edu/field.storage.node.field_alert_project_number.yml
  config/sites/facilities.uiowa.edu/field.storage.node.field_alert_short_work_desc.yml
  docroot/modules/custom/sitenow_alerts/sitenow_alerts.module
  docroot/sites/facilities.uiowa.edu/modules/facilities_core/facilities_core.module
Labels: facilities.uiowa.edu

#6795 [Facilities] Alerts on building pages
  composer.json
  composer.lock
  config/default/config_split.config_split.event.yml
  config/default/config_split.config_split.sitenow_alerts.yml
  config/default/schemadotorg.names.yml
  config/default/schemadotorg.schemadotorg_mapping_type.block_content.yml
  config/default/schemadotorg.schemadotorg_mapping_type.media.yml
  config/default/schemadotorg.schemadotorg_mapping_type.node.yml
  config/default/schemadotorg.schemadotorg_mapping_type.user.yml
  config/default/schemadotorg.settings.yml
  config/default/schemadotorg_inline_entity_form.settings.yml
  config/features/event/views.view.events.yml
  config/features/event/views.view.events_list_block.yml
  config/features/sitenow_alerts/views.view.alerts_list_block.yml
  config/sites/facilities.uiowa.edu/config_split.config_split.site.yml
  config/sites/facilities.uiowa.edu/core.entity_view_display.node.building.default.yml
  config/sites/facilities.uiowa.edu/views.view.alerts_building_block.yml
  docroot/modules/custom/uiowa_core/uiowa_core.module
  docroot/sites/facilities.uiowa.edu/modules/facilities_core/facilities_core.module
  docroot/sites/facilities.uiowa.edu/modules/facilities_core/templates/views-view-unformatted--alerts-building-block--alert.html.twig
  docroot/themes/custom/uids_base/scss/components/alert.scss
  docroot/themes/custom/uids_base/templates/uids/alert.html.twig
Labels: facilities.uiowa.edu

#6820 Cleanup related to creation of `uiowa_maui` split
  config/default/config_split.config_split.uiowa_maui.yml
  config/features/uiowa_maui/layout_builder_styles.style.block_maui_hide_session_badges.yml
  config/sites/grad.uiowa.edu/config_split.config_split.site.yml
  config/sites/grad.uiowa.edu/config_split.patch.core.entity_view_display.fragment.region_item.default.yml
  config/sites/grad.uiowa.edu/config_split.patch.core.entity_view_display.node.page.default.yml
  config/sites/housing.uiowa.edu/config_split.config_split.site.yml
  config/sites/housing.uiowa.edu/config_split.patch.core.entity_view_display.node.page.default.yml
Labels: DX
