Repository uiowa/uiowa, pull requests merged in 2024-05, with the labels that each got.

#7645 Classrooms - reduce revisions related to imported content
  config/sites/classrooms.uiowa.edu/node.type.room.yml
Labels: gone rogue

#7630 facilities post launch
  config/default/core.entity_view_display.node.person.default.yml
  config/features/event/core.entity_view_display.node.person.default.yml
  config/sites/admissions.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/sites/facilities.uiowa.edu/core.entity_view_display.node.artwork.default.yml
  config/sites/facilities.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/sites/facilities.uiowa.edu/user.role.collaborator.yml
  config/sites/facilities.uiowa.edu/views.view.artwork.yml
  config/sites/facilities.uiowa.edu/views.view.building_list.yml
  config/sites/immuno.grad.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/sites/isa.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/sites/now.uiowa.edu/core.entity_view_display.node.person.default.yml
  config/sites/uipress.uiowa.edu/core.entity_view_display.node.book.default.yml
  config/sites/uipress.uiowa.edu/core.entity_view_display.node.person.default.yml
  docroot/modules/custom/grad_custom/grad_student_profile/grad_student_profile.module
  docroot/modules/custom/sitenow_alerts/sitenow_alerts.module
  docroot/modules/custom/sitenow_articles/sitenow_articles.module
  docroot/modules/custom/sitenow_articles/src/Entity/Article.php
  docroot/modules/custom/sitenow_events/sitenow_events.module
  docroot/modules/custom/sitenow_people/sitenow_people.module
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/sass/area-of-study.scss
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/src/Entity/AdmissionsRequirement.php
  docroot/sites/admissions.uiowa.edu/modules/admissions_core/src/Plugin/Block/EventSeriesEventsBlock.php
  docroot/sites/classrooms.uiowa.edu/modules/classrooms_core/classrooms_core.module
  docroot/sites/classrooms.uiowa.edu/modules/classrooms_core/templates/building-link-teaser.html.twig
  docroot/sites/classrooms.uiowa.edu/modules/classrooms_core/templates/taxonomy-term--technology-features.html.twig
  docroot/sites/facilities.uiowa.edu/modules/facilities_core/facilities_core.module
  docroot/sites/housing.uiowa.edu/modules/housing_core/sass/global.scss
  docroot/sites/housing.uiowa.edu/modules/housing_core/templates/field--node--field-residence-hall-accordions--residence-hall--default.html.twig
  docroot/sites/housing.uiowa.edu/modules/housing_core/templates/field--node--field-residence-hall-who-lives--residence-hall--default.html.twig
  docroot/sites/its.uiowa.edu/modules/its_core/its_core.module
  docroot/themes/custom/uids_base/scss/components/card.scss
  docroot/themes/custom/uids_base/scss/components/typography/lists.scss
  docroot/themes/custom/uids_base/scss/content/sitenow-event-single.scss
  docroot/themes/custom/uids_base/scss/paragraphs/uiowa-paragraphs-lists.scss
Labels: facilities.uiowa.edu

#7661 [Commencement] Ceremonies page
  config/sites/commencement.uiowa.edu/config_split.config_split.site.yml
  config/sites/commencement.uiowa.edu/config_split.patch.config_ignore.settings.yml
  config/sites/commencement.uiowa.edu/views.view.ceremonies.yml
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/commencement_core.module
Labels: commencement.uiowa.edu

#7659 [Commencement] Venue theming
  config/sites/commencement.uiowa.edu/core.entity_view_display.node.event.default.yml
  config/sites/commencement.uiowa.edu/core.entity_view_display.node.event.teaser.yml
  config/sites/commencement.uiowa.edu/core.entity_view_display.node.venue.default.yml
  config/sites/commencement.uiowa.edu/core.entity_view_display.paragraph.uiowa_collection_section.default.yml
  config/sites/commencement.uiowa.edu/views.view.events_by_venue.yml
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/commencement_core.module
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/src/Plugin/Block/DirectionsLink.php
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/src/Plugin/Block/VenueLinks.php
  docroot/themes/custom/uids_base/scss/components/button.scss
  docroot/themes/custom/uids_base/scss/fields/fields.scss
  docroot/themes/custom/uids_base/scss/global.scss
Labels: commencement.uiowa.edu

#7685 [Hotfix] Regents theme fix
  docroot/themes/custom/uids_base/templates/layout/header.html.twig
Labels: bug

#7682 [Commencement] Venue only displays events in default session
  config/sites/commencement.uiowa.edu/core.entity_view_display.node.venue.default.yml
  config/sites/commencement.uiowa.edu/views.view.events_by_venue.yml
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/commencement_core.module
Labels: commencement.uiowa.edu

#7694 [Hotfix] Reverse order for mobile fix for layout with sidebar
  docroot/themes/custom/uids_base/scss/global.scss
Labels: bug

#7695 [Commencement] Event theming.
  config/sites/commencement.uiowa.edu/core.entity_view_display.node.event.default.yml
  docroot/sites/classrooms.uiowa.edu/modules/classrooms_core/classrooms_core.module
  docroot/sites/commencement.uiowa.edu/modules/commencement_core/commencement_core.module
  docroot/sites/facilities.uiowa.edu/modules/facilities_core/facilities_core.module
  docroot/themes/custom/uids_base/assets/images/Seal-Black-edge.svg
  docroot/themes/custom/uids_base/scss/fields/fields.scss
  docroot/themes/custom/uids_base/uids_base.theme
Labels: commencement.uiowa.edu

#7727 Remove config_filter dependency
  composer.json
  composer.lock
Labels: dependencies
